.control-label {
    cursor: pointer;
}

.flash_msg {
    color: green;
    width: 17%;
    padding: 5px;
}

.closed {
    display:none !important;
}

.operations li {
    list-style-type: none
}

.detail-view td{
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
    max-width: 100px;
}
/*.detail-view td:hover {*/
    /*background: #f0f0f0; *//* Цвет фона */
    /*white-space: normal; *//* Обычный перенос текста */
/*}*/
table.detail-view td {
    width: auto;
}

.admin_panel_client_avatar {
    width: 65px;
}

.admin_panel_login {
    width: 50%;
    margin-left: 25%;
}


.ap_edit_cli_photo {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.chat_block p {
    border-bottom: 1px solid black;
}
.chat_block {
    margin: 25px;
    border: 1px solid black;
    width: 50%;
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
    /* display: inherit; */
    margin-left: 25%;
}

.sender-name {
    font-weight: bold;
}

