.error {
    border-color: red;
}

.errorMessage {
    color: red;
}

.content_for_static_page {
    width: 50%;
    margin: 45px 25% 0 25%;
    height: 500px;
    overflow-y: auto;
}

.input-static-content {
    width: 600px !important;
    height: 500px !important;
}

.static_lang_div {
    padding-top: 7px;
}

.lang-info {
    font-size: 9px;
    font-style: italic;
}

.admin_news_img {
    width: 50px !important;
}

.news_detail_view{
    width: 75%;
    margin: 27px 25% 0 15%;
    height: 500px;
    overflow-y: auto;
}

.one_tag {
    border: 1px solid grey;
    margin: 5px 5px 5px 0px;
    padding: 2px 0px 2px 2px;
}

.one_tag:hover {
    background-color: rgb(211, 211, 211);
}

.appendedTags {
    margin-bottom: 10px;
}

.one_tag a:hover, .tags_block_add:hover {
    text-decoration: none;
}

.content_tab {
    display: none;
    margin-top: 10px;
}

.open {
    display: block !important;
}

.nav-tabs>li>a {
    color: #555;
}

.lang_name {
    margin-bottom: 15px;
}