@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../font/helveticaneuecyr-roman-webfont.eot');
    src: url('../font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
button, button:hover, button:active, button:focus {
    border: none;
    outline: none;
}

.operator_panel_login{
    width: 50%;
    margin-left: 25%;
}

.navbar-brand {
    /*margin-top: -10px;*/
}

.navbar-header {
    width: 23%;
}

#page-wrapper{
    /*margin-top: 60px;*/
}

.navbar-inverse {
    background-color: darkgrey; /*!important;*/
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    color: #fff !important;
    background-color: grey !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: grey !important;
}

.navbar-inverse .navbar-brand {
    /*color: #fff !important;*/
}

.right_panel {
    /*border: 1px solid #808080;*/
    /*float: left;*/
    /*padding: 15px;*/
    /*height: 100%;*/
    /*background-color: lightgray;*/
    /*width: 25%;*/
}

.right_content {
    /*border: 1px solid #808080;*/
    /*float: right;*/
    /*padding: 15px;*/
    height: 100%;
    width: 75%;
    overflow-y: auto;
}

.category_title {
    /*border: 1px solid grey;*/
}

.close_guide {
    /*right: 35px;*/
    /*position: fixed;*/
}

.operator_panel_client_avatar {
 /*   width: 60px;
    height: 60px;*/
}

.op_client_country {
    width: 30px;
    margin-top: -4px;
}
.one-column p
{
    line-height: 25px;
}
.client_name_rus {
    /*font-size: 10px;*/
    /*font-style: italic;*/
}

.op_client_top {
    /*background-color: lightgray;*/
}

.client_left_panel {
/*    float: left;
    width: 30%;*/
}


.op_client_bottom {
    margin-top: 10px;
}

.all_clients_info {
    background-color: white;
    width: 50%;
    position: absolute;
    top: 0;
    left: 390px;
    height: 500px;
    overflow-y: scroll;
}

.close_all_clients {
    /*float: right;*/
    /*margin: 5px;*/
}

.clients_autocomplete {
    width: 201px;
}

/*
.userLink{
    display: inline;
}*/

.tab_client_avatar {
    -moz-border-radius: 50px; /* Firefox */
    -webkit-border-radius: 50px; /* Safari, Chrome */
    -khtml-border-radius: 50px; /* KHTML */
    border-radius: 50px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
    width: 25px;
    background-color: white;
}

/* OP search */
.left_side_search, .right_side_search {
    float: left;
    width: 50%;
    /*height: 700px;*/
}
.right_side_search {
    /*height: 100%; /!* temporary to see all the content *!/*/
    background-color: #FFFFFF;
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    width: 60%;
    border-right: 3px solid #f1f2f2;
    /*width: 855px;*/
}

.left_side.op_search_client_block {
    width: 40% ;
}

.op_search_client_block .client_left_panel {
    display:none !important;
}

.op_search_client_block .client_right_panel {
    padding-left: 25px;
}

.left_top_search {
    width: 30%;
    float: left;
}

.filters_panel {
    float: left;
    margin-right: 25px;
    z-index: 10;
}



.client_row{
    display: inline-block;
    /*border: 1px solid grey;*/
}



.vuz-column {
    /*width: 50%;*/
}

.clients_table_head div {
    /*border-right: 1px solid grey;*/
}

.clients_table_head {
    width: 100% !important;
    display: table !important;
}

/*.fourth-column {
    width: 22% !important;
}*/

.fifth-column {
    padding-right: 10px;
}



.overdate_link{
    margin-left: 90px;
    /*background-color: #d3d3d3;*/
}



.left_top_search {
    padding: 20px;
    background-color: #f3f1e9;
    /*margin-right: 15px;*/
    height: 100%;
}

.right_top_search {
    padding: 15px;
}

.vpu_op_search {
    font-weight: bold;
}

.op_search_client_block .client_right_panel {
    width: 100% !important;
    padding-top: 25px;
}

.filters_panel {
    border-right: 3px solid #f1f2f2;
    position: absolute;
    width: 18%;
    background-color: #e8e4d5;
}
.filters_panel .btn-link {
    padding: 0;
    margin-left: 40px;
    color: #3B8CA0;
    border-bottom: 1px dotted;
    font-weight: bold;
}
.filters_panel .btn-link:focus,
.filters_panel .btn-link:hover,
.filters_panel .btn-link:active:focus {
    text-decoration: none;
    outline: none;
    border-bottom: 1px dotted;
}
.filters_panel > button:first-child {
    text-transform: uppercase;
    margin: 12px 20px;
    font-size: 10px;
    padding: 7px 10px;
    letter-spacing: 0.05em;
    font-weight: bold;
}
.filters_panel label {
    cursor: pointer;
}
.filters_panel p {
    cursor: pointer;
}

#filter_form {
    padding-left: 20px;
    padding-top: 30px;
    height: 650px;
    overflow-y: scroll;
    background-color: #f3f1e9;
}
#filter_form > p {
    text-transform: uppercase;
}
#filter_form label {
    display: -webkit-inline-box;
    color: #3B8CA0;
    font-weight: bold;
    font-size: 14px;
}
#filter_form label p {
    border-bottom: 1px dotted;
    display: inline;
}
#vuzes_filter label {
    border-bottom: none;
}

#filter_form input[type="checkbox"] {
    display:none;
}
#filter_form input[type="checkbox"] + label .checkbox-img {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../image/search-checkbox.png) no-repeat;
    cursor:pointer;
}
#filter_form input[type="checkbox"]:checked + label .checkbox-img {
    background:url(../image/search-checkbox-checked.png) no-repeat;
}
#filter_form input[type="checkbox"] + label span:last-of-type {
    color: #a3adaf;
    padding-left: 4px;
}
#filter_form #vuzes_filter label {
    padding-left: 25px;
    padding-bottom: 5px;
}
#filter_form #vuzes_filter .checkbox-img {
    margin-left: -25px;
}
.closed {
    display: none;
}

.search_top {
    min-height: 102px;
    background: #f3f1e9;
    overflow: hidden;
}
.left_top_search span {
    display: block;
    position: relative;
}
.left_top_search input {
    margin-bottom: 5px;
    text-indent: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
    width: 100%;
    font: 12px/30px 'helveticaneuecyrroman';
}
.left_top_search span:before {
    content: '\f002';
    font: 14px 'FontAwesome';
    position: absolute;
    left: 12px;
    top: 10px;
    color: #647276;
}
.left_top_search .all-client-link {
    color: #3B8CA0;
    border-bottom: 1px dotted;
    font-weight: bold;
    font-size: 12px;
}
.left_top_search .all-client-link:hover,
.right_top_search p > a:hover,
.right_top_search p > a:focus {
    text-decoration: none;
}
.left_top_search .all-client-link:last-child {
    margin-left: 0;
}
.left_top_search .all-client-link:focus {
    text-decoration: none;
    outline: none;
}
.right_top_search {
    height: 100%;
    background-color: #f9f8f4;
    float: left;
    width: 70%;
}
.right_top_search p:first-child {
    font-size: 24px;
    font-weight: normal;
    color: #9EA3A4;
    line-height: 27px;
}
.right_top_search p > a {
    color: #3B8CA0;
    border-bottom: 1px dotted;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}
.filter_red_round {
    border-radius: 15px;
    padding: 6px;
    font-size: 12px;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 0 2px white;
}
.no_vpu {
    background-color: #fcece8;
    padding: 6px 10px;
    color: red;
    font-weight: bold;
    margin-right: 4px;
}
.sixth-column span, .clients_table_body .fifth-column span {
    padding: 6px 10px;
}

.search_bottom .clients_table_head {
    color: rgb(112, 120, 122);
    font-weight: bold;
    font-size: 12px;
}
.client_row {
    list-style: none;
    float: none;
    width: 100%;
    font-size: 12px;
}
.search_bottom .clients_grid {
    padding-left: 0;
    margin-bottom: 0;
}
/*.clients_grid .client_row {
    border-bottom: 5px solid #f3f4f5;
}*/
.clients_table_head {
    padding: 15px 0;
}
.clients_table_head div, .client_row div{
    display: inline-block;
    /*width: 15%;*/
    vertical-align: middle;
    float: left;
}
.clients_table_head div, .client_row div {
    min-width: 5%;
    min-height: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}
div.in_table_head > ul .client_row {
    border-bottom: 5px solid #f3f4f5;
    padding-left: 20px;
}
.first-column  {
    width: 23%;
}
.fourth-column {
    width: 20%;
}
.second-column, .third-column , .fifth-column, .sixth-column {
    width: 13%;
}
.seventh-column {
    width: 5%;
    min-width: 3%;
}
.clients_table_body .seventh-column span {
    display: block;
    text-align: center;
    line-height: 40px;
    color: #9ea3a4;
    font-size: 18px;
}
.clients_table_body .seventh-column span:hover {
    background-color: #f6f7f7;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.clients_table_body .seventh-column:hover .popup-client-actions {
    display: block;
}
.clients_table_body ul.clients_grid {
    padding-left: 20px;
    padding-right: 10px;
}
.clients_table_body .client_row {
    padding-top: 12px;
    border-top: 1px solid #f3f4f5;
    margin-bottom: -5px;
}
.clients_table_body .no_vpu, .clients_table_body .sixth-column span, .clients_table_body .fifth-column span {
    line-height: 40px;
}
.clients_table_body .fourth-column {
    padding-bottom: 15px;
}
.clients_table_body .first-column a {
    color: #3B8CA0;
    border-bottom: 1px dotted;
    font-weight: bold;
    font-size: 14px;
    margin-left: 30px;
    display: inline-block;
}
.clients_table_body .tab_client_avatar {
    position: absolute;
    margin-left: -30px;
}
.clients_table_body .client_row:active {
    background-color: #f3f4f5;
}
/*.clients_table_body .client_row:hover > .first-column {
    content: "";
    background-color: #808080;
    width: 20px;
    position: absolute;
    height: 19px;
}*/

/*.clients_table_body .client_row:hover > .first-column {
    padding-left: 10px;
    margin-left: -10px;
}*/
.seventh-column .popup-client-actions {
    margin-top: -10px;
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    height: auto;
}
.popup-client-actions .popup-act-wrapper {
    padding: 20px 15px;
    width: 100%;
}
.popup-act-wrapper .popup-info {
    margin-bottom: 7px;
    padding-left: 8px;
    width: 100%;
}
.popup-client-actions .popup-action {
    display: block;
    font-size: 16px;
    padding: 15px 0 15px 8px;
    color: #363636;
    font-weight: bold;
}
.popup-client-actions .popup-action:hover,
.popup-client-actions .popup-action:focus {
    text-decoration: none;
}
.popup-client-actions p + .popup-info {
    padding-bottom: 20px;
    border-bottom: 1px dotted #ededed;
}
.clients_table_body .first-column a:hover,
.clients_table_body .first-column a:focus {
    text-decoration: none;
}

.op_search_client_block .top-client-img {
    display: none;
}

.top_client_info .avatar-box {
    padding-left: 25px;
}
.client-top-menu .client_id {
    padding-left: 25px;
    color: #70787a;
    font-weight: bold;
    float: left;
}
.last-session-link {
    display: -webkit-box;
    float: right;
}
.last-session-link a {
    color: #3B8CA0;
    border-bottom: 1px dotted;
    font-weight: bold;
    font-size: 14px;
    margin-right: 15px;
}
.client-top-menu {
    line-height: 30px;
    height: 40px;
    border-bottom: 1px dotted #e6e6e6;
}
.last-session-link p {
    padding-right: 30px;
}
.last-session-link a:hover,
.last-session-link a:focus {
    text-decoration: none;
}
.quest-image {
    background-image: url('../image/comment_icon.png');
    background-color: white;
    color: black;
    background-size: cover;
}
#params_output,
#params_output .param_wrapper {
    display: inline-block;
    line-height: 23px;
}
#params_output .param_wrapper {
    margin-bottom: 15px;
}
#params_output .param {
    line-height: 23px;
    padding: 4px 15px 3px 7px;
    border: 1px solid #bbb9b4;
    border-radius: 3px;
    font: 12px 'helveticaneuecyrroman';
    color: #647276;
    max-width: 100%;
    display: block;
    position: relative;
}
#discard_search {
    float: right;
    background: #647276;
    border: none;
    border-radius: 3px;
    padding: 6px 10px;
    min-height: 25px;
    font: 10px 'helveticaneuecyrbold', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

@media (max-width:632px) {

}

/* end OP search */