/* ----------------------
        LOGIN PAGE
------------------------*/

#main_content .content-wrapper-white.login-block {
    /*width: 50%;*/
    width: 740px;
    padding: 0;
    height: auto;
    min-height: inherit;
    top: -69px;
}

.login-block {
    font-size: 14px;
    font-family: 'helveticaneuecyrthin', Arial, sans-serif;
}
.login-wrapper {
    padding: 62px 100px 80px;
    color: #dadada;
}
.login-block label {
    color: #9e9e9e;
    font-weight: bold;
    margin: 0 0 2px;
    display: inline-block;
    padding: 0 0 0 2px;
}
.login-block li {
    padding-bottom: 8px;
}
.login-form li {
    font: 14px 'helveticaneuecyrthin', Arial, sans-serif;
}
.login-form li:last-child {
    padding-bottom: 0;
}

.login-form input[type="text"],
.login-form input[type="date"],
.login-form input[type="email"],
.login-form input[type="password"],
.login-form textarea,
.login-form select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    /*color: #9e9e9e;*/
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 5px;
    font: 24px 'helveticaneuecyrthin', Arial, sans-serif;
    height: 45px;
    text-indent: 0;
}
.login-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.login-form textarea{
    resize:none;
    overflow: hidden;
}
.login-form input[type="button"],
.login-form input[type="submit"]{
    background: #9c392c;
    cursor: pointer;
    height: 70px;
    padding: 21px 40px;
    width: 142px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font: bold 14px/20px 'helveticaneuecyrbold', 'Helvetica', Arial, sans-serif;
    border: none;
    text-indent: 0;
    line-height: 26px;
    opacity: 1;
    position: static;
}
.login-form input[type="button"]:hover,
.login-form input[type="submit"]:hover {
    /*background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);*/
    /*background-color:#34CACA;*/
}
.login-form input[type="text"]:focus,
.login-form input[type="date"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    color: #9e9e9e;
    font-weight: bold;
    border-bottom: 2px solid #647276;
}
.login-form  input[type="text"].fail-submit:focus,
.login-form  input[type="date"].fail-submit:focus,
.login-form  input[type="email"].fail-submit:focus,
.login-form  input[type="password"].fail-submit:focus {
    border-bottom: 1px solid #9c392c;
}
.fail-submit {
    color: #9c392c;
}
.login-form .fail-message, .login-form .errorMessage {
    color: #9c392c;
    font-weight: bold;
    font-size: 12px;
    margin: 4px 0 0 2px;
    display: inline-block;
}
.login-form p {
    font: 14px 'helveticaneuecyrthin', Arial, sans-serif;
}
.login-btn {
    width: 30%;
    float: left;
}
.login-btn input {
    font-weight: bold;
}
.login-form a {
    font-weight: bold;
    border-bottom: 1px solid;
    cursor:pointer;
    line-height: 60px;
}
.login-submit-block {
    height: 100%;
    /*line-height: 66px;*/
    margin: 48px 0 0;
}
.login-submit-block a:first-child::after {
    border: 5px solid;
}
.login-links {
    text-align: right;
}
.login-links span {
    padding: 0 15px;
    font-size: 25px;
}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d7d7d7;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d7d7d7;
    opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d7d7d7;
    opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #d7d7d7;
}

/* ----------------------
        RESTORE PASSWORD PAGE
------------------------*/
/* @TODO this styles need to consider*/
#header-register .top_header .top_wrapper p.res-pass-title {
    text-transform: none;
    color: #ffffff;
    padding-top: 0;
    font: 36px/30px 'helveticaneuecyrthin', Arial, sans-serif;
}
#header-register .top_header .top_wrapper p.login-title {
    text-transform: none;
    color: #ffffff;
    font: 36px/30px 'helveticaneuecyrthin', Arial, sans-serif;
}
.res-pass-title {
    width: 50%;
}
#main_content .content-wrapper-white.restore-block {
    min-height: 0;
}
/* @TODO this styles need to consider*/

.respass-form p {
    font-weight: bold;
    padding-top: 10px;
}
.respass-message {
    color: #363636;
    width: 73%;
}
.respass-btn {
    width: 50%;
}
.respass-form .login-btn.respass-btn input  {
    min-width: 200px;
}

@media screen and (max-width: 1110px) {
    .login-submit-block {
        /*text-align: center;*/
    }
    .login-btn {
        width: auto;
        margin: 0 auto;
        display: inline-block;
        float: none;
    }
}
@media screen and (max-width: 945px) {
    .login-wrapper {
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media screen and (max-width: 770px) {
    .login-wrapper {
        padding-bottom: 40px;
    }
    #main_content .content-wrapper-white.login-block {
        width: 85%;
    }
}
@media screen and (max-width: 480px) {
    .login-wrapper {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media screen and (max-width: 390px) {
    .login-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
    .login-links {
        line-height: 30px;
        margin-top: 20px;
    }
    .login-links a {
        margin-left: 19px;
    }
    .login-links span {
        display: none;
    }
}
@media screen and (max-width: 365px) {
    .login-links {
        line-height: 30px;
        margin-top: 20px;
    }
    .login-links a {
        margin-left: 19px;
    }
    .login-links span {
        display: none;
    }
}

#invoice {
    margin: 15px 25% 15px 25%;
}
#invoice_head {
    margin-left: 32%;
    padding-top: 15px;
}
.print_button {
    margin-left: 45%;
}
.next_button {
    cursor: pointer;
}
