/* ----------------------
        NEWS PAGE
------------------------*/

/* ------------------- fix for NEWs page HEADER - FOOTER FIX ------------ */
/*.lang_menu {
    display: none;
}*/

#main_content {
    margin-bottom: -536px;
}
.title-color {
    color: #eceded;
}

/* ----------------------- end of fix for NEWs page --------------- */


.left-column {
    width: 65%;
    float: left;
}
.column-wrapper {
    margin-right: 50px;
    font: 24px/32px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.column-wrapper p.title{
    margin-right: 50px;
    font: 24px/32px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif ;
}
.left-column-title p {
    border-bottom: 1px solid #c1cdd0;
    padding-bottom: 20px;
}
.news-image {
    margin-top: 30px;
}

.news-image img {
    height: 100%;
    width: 100%;
}
.news-content {
    margin-top: 30px;
    margin-bottom: 40px;
}
.article-pull-left {
    float: left;
    width: 50%;
}
.wrapper-left-col {
    /*margin-right: 20px;*/
}
.wrapper-right-col {
    margin-left: 20px;
}
.action-time {
    font-size: 12px;
    line-height: 25px;
}
.news-content .title {
    color: #247f96;
    font-weight: bold;
    padding-bottom: 10px;
}
.news-content .article {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}
.article-img-box {
    /*width: 20%;*/
    float: left;
}
.article-img-wrap {
    background-color: gray;
    width: 80px;
    height: 50px;
    margin-right: 15px;
}
.news-content.extended-news .fa-facebook-official{
    font-size: 33px;
    margin: 0;
}
.backward-link {
    border-top: 1px solid #c1cdd0;
    padding-top: 30px;
    font-size: 14px;
}
.backward-link i {
    margin: 0 25px;
}
.backward-link i:before,
.forward-link i:before {
    color: #2a7f95;
    font-size: 13px;
}
.backward-link a:hover,
.forward-link a:hover {
    text-decoration: underline;
    color: #a9c5cf;
}

.right-column {
    width: 35%;
    float: left;
}
.right-col-title {
    font-family: 'helveticaneuecyrthin';
    border-bottom: 3px solid #C4C7C8;
    line-height: 51px;
    text-transform: uppercase;
    font-size: 20px;
    color: #858680;
    font-weight: 100;
}
.about-centre {
    margin: 10px;
    font: 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    /*font: 24px/32px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;*/

}
.outside-wrapper {
    outline: 10px solid #fbf9f7;
}
.about-centre .wrapper {
    padding: 20px 35px;
    background-color: #f0ece5;
}
.about-article {
    /*font: 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;*/
    font-weight: bold;
    padding-top: 20px;
}
.link-wrapper {
    margin: 20px 0;
}
.about-centre a {
    font-weight: bold;
    color: #247f96;
}
.about-centre a:hover {
    text-decoration: underline;
}
.about-centre .reg_button {
    width: 100%;
    background-color: #9c392c;
}
.list-title {
    text-indent: 38px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #a1a1a1;
    font-weight: bold;
}
ol.sequence-list {
    font-weight: bold;
    line-height: 16px;
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol.sequence-list p {
    font-family: 'helveticaneuecyrthin';
    font-size: 13px;
    font-weight: bold;
}
ol.sequence-list > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 10px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    /*background:#f6f6f6;*/
}
ol.sequence-list > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top: 1px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it*/
    margin-right:8px;
    padding:4px;
    border-radius: 15px;
    color:#fff;
    background-color: #9e3828;
    font-weight: bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}

.legal-advice {
    margin: 50px 0;
}
.question-link {
    padding-bottom: 30px;
    border-bottom: 1px dotted;
    font: 14px/20px 'helveticaneuecyrroman', Arial, sans-serif;
}
.question-link i {
    font-size: 10px;
}
.question-link i:before {
    margin-left: -15px;
}
.question-link li,
.useful-link li {
    padding-top: 20px;
    margin-bottom: 0;
}
.question-link a,
.useful-link a {
    border-bottom: 1px dotted #c1cdd0;
}
.more-info-link {
    margin: 20px 0;
}
.more-info-link a {
    font-weight: bold;
}
.more-info-link a:hover {
    text-decoration: underline;
}
.more-info-link i:before {
    color: #2a7f95;
    font-size: 13px;
}
.more-info-link span {
    color: #2a7f95;
    position: absolute;
    margin-top: -1px;
    margin-left: 8px;
}
.useful-info a,
.legal-advice a{
    font-family: 'helveticaneuecyrroman', Arial, sans-serif;
    font-size: 14px;
}
.useful-link {
    padding-bottom: 30px;
    border-bottom: 1px dotted;
}

.state-img-box {
    width: 80px;
    float: left;
    margin-top: 10px;
    margin-left: -14px;
}
.state-img-box img {
    margin: 0 auto;
    width: 100%;
}
.state-info {
    /*float: right;*/
    width: 80%;
}
.state-info > a {
    font-weight: bold;
}
.state-info a:hover {
    /*border-bottom: 1px dotted;*/
}
.state-title {
    padding-top: 10px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 25px;
}
.info-box {
    margin-top: 25px;
}
.info-links {
    margin-bottom: 20px;
}
.info-phone {
}
.phone-img {
    background: url("../image/icons-sprite.png") no-repeat;
    width: 25px;
    height: 25px;
    background-size: 70px;
    margin-left: -30px;
    position: absolute;
}
.point-img {
    background: url("../image/icons-sprite.png") no-repeat;
    width: 20px;
    height: 25px;
    background-size: 70px;
    margin-left: -28px;
    position: absolute;
    background-position: -25px;
}
.phone-numbers {
    font-weight: bold;
    color: #000;
}
.phone-numbers ~ span {
    padding-left: 10px;
}

/* -----------------------------
       NEWS - ARTICLE PAGE
------------------------------*/
#main_content .new-article {
    padding-bottom: 80px;
}

.go-backward {
    padding-bottom: 30px;
    border-bottom: 1px dotted #c1cdd0;
    font-size : 14px;
    line-height: 14px;
    color: #247f96;
}
.go-backward a {
    font-weight: bold;
}
.go-backward i {
    position: absolute;
    margin-left: -20px;
}
.go-backward i:before {
    font-size: 12px;
}

.extended-news {
    margin-top: 25px;
}
.extended-news a {
    text-decoration: underline;
}
.alias-list a {
    text-decoration: none;
}
.extended-title {
    font-size: 32px;
}
.extended-title a {
    color: #70787a;
    font-weight: 100;
    text-decoration: none;
}
.extended-article {
    padding-top: 30px;
}
.news-content .extended-article {
    font-size: 14px;
}
.extended-article span {
    padding-bottom: 25px;
    font-family: 'helveticaneuecyrthin';
    display: block;
    color: #70787a;
    font-weight: bold;
    font-size: 14px;
}
.extended-article li {
    margin-bottom: 0;
}
.article-footer {
    padding-top: 20px;
}
.social-icons-box {
    font-size: 35px;
    width: 30%;
    float: left;
}
.social-icons-box .fa-facebook-official {
    color: #2e5793;
}
.social-icons-box .fa-twitter-square {
color: #20a7d4;
}
.social-icons-box .fa-envelope-square,
.social-icons-box .fa-print
{
    color: #728a8d;
}
.social-icons-box .fa-plus-square {
    color: #fa6846;
}

.social-icons-box i {
    margin-right: -5px;
}
.source-data {
    padding-bottom: 25px;
    font-family: 'helveticaneuecyrthin';
    color: #70787a;
    font-weight: bold;
    width: 35%;
    float: left;
    font-size: 13px;
    text-align: center;
}
.source-data span {
    padding-right: 15px;
}
.alias-list {
    font-size: 13px;
    width: 35%;
    float: left;
}
.content-wrapper-white .reg_list.pull-right h5 {

}
.element-box {
    background-color: #e2e8ec;
    padding: 5px 10px;
    margin-right: 4px;
    cursor: pointer;
}
.page-links {
    border-top: 1px solid #c1cdd0;
    border-bottom: 1px solid #c1cdd0;
    padding-bottom: 30px;
}
.backward-link.half-block {
    border: none;
}
.half-block {
    width: 50%;
    float: left;
}
.page-links a {
    width: 80%;
    color: #5494a6;
    float: right;
    font-weight: bold;
    line-height: 18px;
    text-decoration: underline;
}

.forward-link {
    padding-top: 30px;
    font-size: 14px;
}
.forward-link a {
    float: left;
    padding-left: 50px;
    width: 70%;
}

.read-more {
    padding-top: 60px;
    font-size: 14px;
}
.read-more-title {
    font-family: 'helveticaneuecyrthin';
    border-bottom: 3px solid #C4C7C8;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    color: #858680;
    font-weight: 100;
    margin-bottom: 25px;
}
.read-more-list {
    line-height: 14px;
}
.added-time {
    width: 10%;
    float: left;
}
.day-month {
    padding-right: 15px;
    font-weight: bold;
    color: #909698;
}
.day-month + span {
    font-size: 12px;
}
.article-text {
    float: left;
    width: 90%;
    margin-bottom: 25px;
    
}
.article-text a {
    text-decoration: underline;
    color: #5494a6;
    font-weight: bold;
}
.recent-news {
    display: none;
    font-family: 'helveticaneuecyrthin';
    padding-bottom: 30px;
    border-bottom: 1px dotted;
}
.recent-news-title {
    line-height: 50px;
    font-size: 20px;
}
.recent-news-time {
    width: 16%;
}
.recent-news-art {
    width: 80%;
    line-height: 20px;
}
.recent-news-link {
    margin-bottom: 40px;
}


/* ----------------------
        STATIC PAGES
------------------------*/

.static-left-column {
    width: 65%;
    float: left;
}
.breadcrumb {
    padding-bottom: 25px;
    border-bottom: 1px dotted #c1cdd0;
    color: #247f96;
    line-height: 0;

}
.breadcrumb li {
    display: inline;
}
.breadcrumb i {
    position: absolute;
    margin-left: -20px;
}

.breadcrumb li:not(:first-child) a:before {
    content: " / ";
    padding: 0 10px;
}
.breadcrumb a {
    font-family:  'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}
.page-title {
    padding: 25px 0;
    border-bottom: 1px dotted #c1cdd0;
}
.static-left-column h1 {
    text-transform: none;
}
.static-left-column h2 {
    font: 30px/36px 'helveticaneuecyrthin';
}
.static-left-column h3 {
    font: 24px/32px 'helveticaneuecyrthin';
}
.static-left-column h4 {
    font: 18px/28px 'helveticaneuecyrthin';
    text-transform: uppercase;
}
.static-left-column h5 {
    font: 14px/22px 'helveticaneuecyrthin';
    text-transform: none;
}
.static-left-column h6 {
    font: 10px/16px 'helveticaneuecyrthin';
    text-transform: uppercase;
}
.static-left-column h1 + p {
    font-size: 14px;
    line-height: 18px;
}
.static-left-column p {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    padding-top: 25px;
    /*color: #000000;*/
}
.static-left-column span {
    font-weight: bold;
    font-family: 'helveticaneuecyrthin';
    font-size: 13px;
    color: #a9a9a9;
}
.static-left-column li {
    font: 14px/18px 'helveticaneuecyrthin';
}
.static-left-column table {
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
}
.static-left-column table>tbody>tr>td,
.static-left-column table>tbody>tr>th,
.static-left-column table>tfoot>tr>td,
.static-left-column table>tfoot>tr>th,
.static-left-column table>thead>tr>td,
.static-left-column table>thead>tr>th {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #ddd;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.static-left-column table {
    width: 100%;
}
.static-left-column table>thead>tr>th {
    border-bottom: 2px solid #ddd;
    border-top: none;
}

.header-types {
    padding-top: 40px;
}
.block-empty-top {
    padding-top: 40px;
}
.subhead-title {
    padding: 20px 0;
}
.subhead-title h3 {
    font-weight: bold;
}
.subhead-row div {
    float: left;
}
.subhead-row {
    padding: 15px 0;
    border-bottom: 1px dotted #c1cdd0;
}
.subhead-row div:first-child {
     width: 70%;
 }
.subhead-row div:last-child {
    width: 30%;
    text-align: right;
    line-height: 16px;
}

.subhead-row:last-child {
    border-bottom: none;
}
.color-types {
    padding-top: 40px;
}
.message-wrapper {
    padding: 15px 15px 30px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.message-wrapper p {
    padding-top: 15px;
}
.color-gray {
    color: #bbbbbb;
}
.color-blue {
    color: #247f96;
}
.color-gold {
     color: #c09853;
}
.color-red {
    color: #9e3828;
}
.color-green {
    color: #2ea100;
}
.color-blue-bright {
    color: #739aae;
}
.quotation-block {
}
.quot-wrapper {
    padding-left: 15px;
    border-left: 5px solid #eeeeee;
}
.quot-wrapper p {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #333333;
}
.quotation-block li {
    color: #999999;
    font-weight: bold;
    padding-bottom: 10px;
}
.table-wrapper {
    padding-bottom: 45px;
}
.odd-marked>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}


/* -------------------------------------
        CONSULTATION PAGE
----------------------------------------*/

.left-column-title p.consultation-title {
    border-bottom: 0;
    padding-bottom: 30px;
}
.cons-type-block {
    width: 100%;
    background-color: #f9f8f4;
    margin-left: -40px;
    border-left: 40px solid #f9f8f4;
}
.kind-list li {
    margin-bottom: 15px;
}
.kind-list a {
    font-family: 'helveticaneuecyrroman', Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px dotted #c1cdd0;
}
.cons-column {
    float: left;
    width: 40%;
    padding: 30px 0;
}
.one-law-block {
    padding-top: 30px;
    padding-bottom: 45px;
    border-bottom: 1px dotted #c1cdd0;
}
.one-law-block:last-child {
    border-bottom: 0;
}
.law-description {
    padding: 20px 0;
    color: black;
    font: bold 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.rules-list {
    margin-bottom: 40px;
}
.rules-list li {
    color: #2a7f95;
    margin-bottom: 20px;
}
.rules-list li span {
    color :#c1cdd0;
    padding-right: 10px;
}
.rules-list li a {
    font-family: 'helveticaneuecyrroman', Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px dotted #c1cdd0;
}
.action-question {
    float: left;
    width: 55%;
    font: bold 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.action-question .title {
    font-family: 'helveticaneuecyrroman', Arial, sans-serif;
    font-weight: bold;
    color : #363636;
}
.action-question .title,
.action-question .desc {
    padding-right: 30px;
}
.action-btn {
    cursor: pointer;
    width: 45%;
    float: left;
    font: bold 16px 'helveticaneuecyrroman', Arial, sans-serif;
    background-color: #9c392c;
    color: #f9f5f5;
    text-transform: uppercase;
    line-height: 65px;
    text-align: center;
    border-radius: 3px;

}


/* -------------------------------------
        USEFUL INFORMATION PAGE
----------------------------------------*/

.left-column-title p.useful-info-title {
    border-bottom: 0;
    padding-bottom: 30px;
}
a.active-item {
    border-bottom: 0;
    font-weight: bold;
    color: #363636;
}
.one-info-block {
    padding-top: 30px;
    /*padding-bottom: 45px;*/
}
.law-title {
    font-weight: bold;
    color: #70787a;
}
.info-description {
    padding: 20px 0;
    color: black;
    font: bold 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.republic-info-block {
    padding-top: 40px;
    padding-bottom: 50px;
    border-bottom: 1px dotted #c1cdd0;
}
.rep-img-box {
    width: 30%;
    float: left;
}
.description-block {
    width: 70%;
    float: left;
}
.detail-desc {
}

.description-block .title {
    color: #9e3828;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    line-height: 26px;
    padding-bottom: 26px;
}
.description-block .in-one-line {
    width: 100%;
}

.detail-info-block {
    float:left;
    font-size: 14px;
    width: 50%;
    color: #363636;
}
.detail-desc .detail-info-block:first-child {
    margin-bottom: 26px;
}
.detail-info-block div {
    line-height: 22px;
}
.detail-info-block span {
    font-size: 12px;
    color: #9e9e9e;
    padding-left: 10px;
}
.detail-info-block a {
    font-family: 'helveticaneuecyrroman', Arial, sans-serif;
    border-bottom: 1px dotted #c1cdd0;
}
.detail-info-block:last-child div {
    color: #363636;
    font-weight: bold;
    padding-left: 40px;
}
.detail-num {
    font-weight: bold;
    color: black;
}
.contact-data p {
    color: #363636;
    font: bold 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}


/* -------------------------------------
        CONTACTS PAGE
----------------------------------------*/
#main_content .content-wrapper-white.for-contacts {
    padding-bottom: 60px;
}
.contact-title {
    font: 24px/24px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.contact-map-box {
    margin-top: 25px;
    margin-bottom: 40px;
}
.map-wrapper {
    width: 1266px;
    /*background-color: black;*/
    margin-left: -40px;
}
.map-wrapper > * {
    display: block;
    margin: 0 auto;
}

.cont-wrapper {
    margin-right: 145px;
    /*margin-left: 24px;*/
}
.main-desc {
    padding-left: 24px;
    color: #363636;
    font: bold 16px/24px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    padding-bottom: 10px;
}
.cont-row-block  {
    padding: 55px 0;
    border-bottom: 1px dotted #c1cdd0;
}
.cont-row-block:last-child {
    border-bottom: 0;
}
.first-padding {
    padding-bottom: 35px;
}
.cont-detail {
    float: left;
    width: 30%;
}
.cont-detail.centre-detail {
    width: 40%;
}

.cont-img-box,
.cont-data {
    padding-left: 25px;
}
.cont-img-box img {
    margin-bottom: -10px;
}
.img-title {
    display: inline;
    font-weight: bold;
    color: #9e3828;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.centre-data {
    font-weight: bold;
    color: #000000;
}
.cont-schedule {
    color: #adb2b4;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
.cont-black {
    color: black;
}
.office-location ,
.schedule-days {
    font-size: 14px;
    line-height: 20px;
    color: #363636;
}
.cont-links,
.cont-data {
    font-size: 14px;
    line-height: 26px;
}
.cont-data {
    color: #363636;
    font-weight: bold;
}
.cont-links a {
    border-bottom: 1px dotted #c1cdd0;
}

/* -------------------------------
        OPERATOR_LIST PAGE
---------------------------------*/
.full-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    opacity: 0.8;
    background-color: #333333;
}

.operator-list-block {
    position: absolute;
    top: 0px;
    margin: 5% 25%;
    z-index: 100;
    width: 50%;
    background: #ffffff;
}
.operator-wrapper {
    height: 700px;
    overflow: auto;
}
.search-block {
    padding: 30px 20px;
}
.search-block .title {
    font-weight: bold;
    float: left;
    width: 25%;
    font: bold 24px/32px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}

.search-wrap.for-head-title {
    float: left;
    width: 65%;
    margin: 0;
    height: 40px;
}
.search-wrap {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 0;
    width: 100%;
    position: relative;
    margin: 30px 0;
}
input[type="text"].oper-search {
    height: 30px;
    text-indent: 25px;
    padding: 0;
    font-size: 18px;
}
input[type="text"] {
    height: 50px;
    text-indent: 35px;
    display: inline-block;
    font: 24px/32px "helveticaneuecyrthin";
    font-weight: 100;
    border: none;
    width: 100%;
    outline: none;
    color: #555;
    padding: 3px;
    /*width: 0px;*/
    /*position: absolute;*/
    top: 0;
    /*right: 0;*/
    background: none;
    /*z-index: 3;*/
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
    /*width: 700px;*/
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
input[type="submit"].oper-search {
    height: 32px;
    background-size: 16px;
    width: 20px;
}
input[type="submit"] {
    height: 57px;
    width: 35px;
    display: inline-block;
    color:red;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    background-size: 20px;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}
input[type="submit"]:hover {
    opacity: 0.8;
}
.close-btn {
    width: 10%;
    float: left;
    text-align: right;
}
.close-btn a {
    position: fixed;
    margin-left: -20px;
    color: inherit;
    font-size: 25px;
    line-height: 32px;
}
.users-list table {
    width: 99%;
    margin: 0 auto;
}
.users-list {

}
.users-list table>thead>tr>th,
.users-list table>tbody>tr>td {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #ddd;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.users-list table>tbody>tr>td {
    line-height: 40px;
    padding: 20px 10px;
}
.users-list table>thead>tr>th:first-child {
    padding-left: 25px;
    padding-right: 70px;
}
.users-list table>thead>tr>th:last-child {
    padding-left: 30px;
}
.users-list table>tbody>tr>td:last-child div {
    padding-left: 20px;
}
.users-list table>tbody>tr>td:last-child div:hover {
    background-color: #9e3828;
    color: white;
    cursor: pointer;
}
/* @TODO don't know about this exactly */
/*.users-list table>tbody>tr>td div:hover {
    background-color: #9e3828;
    color: white;
    cursor: pointer;
}*/
.users-list table>tbody>tr>td:last-child {
    padding-right: 30px;
}

.users-list table>thead {
    color:#70787a;
}
.users-list table>thead>tr {
    background-color: #f6f4ef;
}
.users-list table>tbody>tr>td:first-child {
    padding-left: 20px;
}
.users-list img {
    float: left;
}
.cell-user-name {
    color: #333333;
    padding-left: 10px;
    font-weight: bold ;
    line-height: 40px;
    float: left;
}
td.font-bolder {
    font: 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

/* ---------------------------------------------------------------------------
     CONSULTATIONS ONLY FOR REGISTERED CLIENTS BLOCK WITH ABSOLUTE POSITION
------------------------------------------------------------------------------*/

.online-consultation-block {
    position: absolute;
    top: 0;
    margin: 0 25%;
    z-index: 100;
    width: 50%;
    background: #ffffff;
}
.onl-cons-wrapper {

}
.cons-btn {
    position: absolute;
    right: 15px;
    top: 20px;
}
.cons-btn a {
    padding: 5px;
    margin-left: 0;
    position: relative;
}
.onl-cons-content .wrapper {
    margin: 70px 18%;
}
.call-icon-box {
    margin: 0 auto;
}
.call-icon-box img {
    display: block;
    margin: 0 auto;
}
.call-icon-box img {
    border: 10px solid #fdfcfc;
    border-radius: 150px;
    box-shadow: 0 0 10px #f0ece5;
    /*box-shadow: 0 0 10px black; */ /* true color #eae6e6 */
}
.onl-cons-desc {
    text-align: center;
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.onl-cons-title {
    font-size: 30px;
    line-height: 34px;
    color: #7e8b8f;
    padding-top: 40px;
    padding-bottom: 25px;

}
.onl-cons-message {
    color: black;
    font: bold 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    padding-bottom: 30px;
}
.online-links {
    text-align: center;
}
.online-links span {
    padding: 0 15px;
    font-size: 25px;
    color: #e6e8e9;
}
.online-links div {
    float: left;
    width: 32%;
}
.online-links a {
    border-bottom: 1px dotted;
}
.online-links a.active {
    font-weight: bold;

}
/*
.online-links a:hover {
    font-weight: bold;
}*/

.bottom-reg-info {
    margin: 8px;
    font: 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.bottom-reg-info .reg-wrapper {
    outline: 8px solid #fbf9f7;
    padding: 0 25%;
    background-color: #f0ece5;
    padding-top: 45px;
    padding-bottom: 30px;
}
.reg-btn {
    cursor: pointer;
    padding: 18px 20px;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    background-color: #9c392c;
}
.reg-btn h4 {
    font-weight: bold;
    text-transform: uppercase;
}

/* --------------------------------
     REGISTRATION SUCCESS PAGE
-----------------------------------*/
#main_content .content-wrapper-white.reg-success-block {
    width: 740px;
    padding: 0;
    top: -69px;
    box-shadow: 0 0 3px #e2ded7;
}
.reg-success-block {
    text-align: center;
}
.reg-success-wrapper {
    padding: 65px 18%;
}
.main-message {
    font: 30px/34px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    color: #7e8b8f;
    padding-top: 40px;
    padding-bottom: 25px;
}
.info-message {
    color: #7e8b8f;
    font-weight: bold;
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.info-message b {
    color: #363636;
}
.info-message p {
    padding-bottom: 23px;
}
.info-message a {
    border-bottom: 1px dotted;
    font-family: 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;;
}
.reg-success-footer {
    width: 50%;
    padding: 0;
    margin: 0 25%;
    text-align: right;
    color: #d2cfc9;
    margin-top: -122px;
    font-weight: bold;
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.reg-foot-wrapper {
    padding-bottom: 175px;
    padding-top: 30px;
}




@media screen and (max-width: 1045px) {
    .about-centre {
        margin-right: 40px;
    }
    .list-title {
        text-indent: 0;
    }
    .cont-detail {
        width: 50%;
    }
    .cont-detail .cont-data {
        padding-left: 0;
    }
}
@media screen and (max-width: 880px) {
    .for-contacts .left-column, .for-contacts .right-column {
        width: 100%;
        float: none;
    }
    .for-contacts .cont-wrapper {
        margin-right: 0;
    }
    .onl-cons-content .wrapper {
        margin: 20px 30px;
    }
    .online-links span {
        padding: 0 7px;
    }
    .bottom-reg-info .reg-wrapper {
        padding: 45px 30px 30px;
    }
}
@media screen and (max-width: 640px) {
    .onl-cons-content .wrapper {
        margin: 20px 10px;
    }
    .bottom-reg-info .reg-wrapper {
        padding: 45px 10px 30px;
    }
}
@media screen and (max-width: 420px) {
    .column-wrapper {
        margin-right: 20px;
    }
    .cont-detail.centre-detail {
        float: right;
        box-sizing: border-box;
        overflow: hidden;
        word-wrap: break-word;
    }
}
@media screen and (max-height: 800px) {
    .onl-cons-wrapper {
        height: 500px;
    }
    .onl-cons-content .wrapper {
        margin: 20px 5%;
    }
    .onl-cons-content .call-icon-box img {
        width: 120px;
    }
}
@media screen and (max-height: 540px) {
    .onl-cons-wrapper {
        height: 400px;
    }
    .onl-cons-content .wrapper {
        margin: 10px 5%;
    }
    .onl-cons-content .call-icon-box img {
        width: 90px;
    }
    .onl-cons-title {
        font-size: 26px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .onl-cons-content .reg-btn {
        padding: 10px;
    }
}





.list-view .pager {
    display: inline-block !important;
}
.list-view .pager li{
    display: inline-block !important;
}

.state-info .location-icon {
    margin-right: 14px !important;
}
.state-info .phone-icon {
    margin-right: 8px !important;
}

.pull-left.phones {
    width: 100%;
}