/* --------------------------------
     navigation panel styles.
-----------------------------------*/


/* ----------------------
        FONTS
------------------------*/

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=4.3.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../font/helveticaneuecyr-thin.eot');
    src: url('../font/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-thin.woff2') format('woff2'),
    url('../font/helveticaneuecyr-thin.woff') format('woff'),
    url('../font/helveticaneuecyr-thin.ttf') format('truetype'),
    url('../font/helveticaneuecyr-thin.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/helveticaneuecyr-light-webfont.eot');
    src: url('../font/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-light-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-light-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../font/helveticaneuecyr-bold-webfont.eot');
    src: url('../font/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'helveticaneuecyrheavy';
    src: url('../font/helveticaneuecyr-heavy-webfont.eot');
    src: url('../font/helveticaneuecyr-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-heavy-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-heavy-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-heavy-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-heavy-webfont.svg#helveticaneuecyrheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../font/helveticaneuecyr-roman-webfont.eot');
    src: url('../font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

html {
    background-color: #f0ece5;
}

.navbar-header {
    width: 240px;
}
.navbar-inverse .navbar-brand {
    font: 10px/14px 'helveticaneuecyrthin';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    height: 100%;
}
nav.navbar-inverse {
    background-color: #647276;
    /*height: 50px;*/
    height: 102px;
    border: none;
}
nav.navbar-inverse .home-link {
    padding: 10px 20px;
    color: #b7bcbe;

}
#userLinks {
    line-height: 50px;
    width: 570px;
    height: 50px;
    text-align: left;
    float: left;
    overflow: hidden;
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.userLink {
    float: left;
    width: 33%;
    border-right: 1px dotted #9fa8aa;
    position: relative;
}
.userLink a:hover {
    text-decoration: none;
    color: white;
}
.userLink a:focus {
    color: white;
    text-decoration: none;
}
.userLink:focus {
    outline: 0;
}
.userLink:hover,
.userLink a:hover {
    cursor: pointer;
}
/*.userLink *:focus {
    outline: 0;
}*/
/*.userLink a:after {
    content: '✖';
}*/

/* add this class to div with class userLink for active profile cell */
.active-user {
    background-color: #455358;
}
.active-user a {
    border-right: none;
}
/* ------------------------------------------- */
.del-user-btn {
    width: 10px;
    cursor: pointer;
    text-indent: 0;
    float: right;
    color: #9ea5a7;
    font-weight: normal;
    position: absolute;
    top: 0;
    right: 10px;
    /*line-height: normal;*/
}
.del-user-btn:hover {
    color : white;
}
.userLink i {
    border: 2px solid white;
    width: 30px;
    margin-right: 10px;
    height: 30px;
    position: relative;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.userLink i:before {
    position: absolute;
    font-size: 16px;
    top: 5px;
    left: 5px;
}
.del-user-btn i {
    border: none;
    width: auto;
    height: auto;
}
.del-user-btn i:before {
    font-size: 13px;
    top: 0;
    left: 0;
    position: relative;
}
.user-menu-item {
    color: white;
    vertical-align: top;
    height: 30px;
    cursor: default;
    font-size: 10px;
    float:left;
    padding-left: 15px;
    padding-right: 25px;
    font-weight: bold;
    line-height: 30px;
    margin: 10px 0;
    display: block;
    letter-spacing: 0.08em;
}
.getClientsList {
    font-family: 'helveticaneuecyrthin';
    line-height: 50px;
}
.getClientsList.search {
    padding-left: 450px;
}
.clients_autocomplete {
    width: 240px;
}
.getClientsList input {
    text-indent: 30px;
    margin: 0 15px;
    line-height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
}
.getClientsList input:focus {
    outline: none;
    font-weight: bold;
}
.getClientsList input:after {
    content: url("url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;");
    /*content:url('blackCarrot.png'); *//* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:-50px;
    top:10px;
}
.getClientsList a, .all-client-link {
    font-family: 'helveticaneuecyrthin';
    border-bottom: 1px dotted #c1cdd0;
    text-decoration: none;
    color: white;
}
.all-client-link {

}
.chat-link-wrapp {
    margin: 10px 26px 0 0;
}
.chat-link-wrapp a:focus, .chat-link-wrapp a:active {
    color: #fff;
    text-decoration: none;
}
.getClientsList a:hover,
.getClientsList a:focus,
.getClientsList a:active,
.all-client-link:hover,
.all-client-link:focus,
.all-client-link:active {
    text-decoration: none;
    color: #FFFFFF;
}
.all-client-icon:before {
    content: url("../image/all_client_icon.png");
    margin-top: 3px;
    position: absolute;
}
.all-client-link {
    margin-left: 20px;
}

/* -------------------------------
        OPERATORs LIST
---------------------------------*/

.all_clients_info .grid-view {
     padding: 0;
}
.search-block {
    padding: 30px 20px;
}
.search-block .title {
    float: left;
    /*width: 25%;*/
    margin-right: 20px;
    font: bold 24px/32px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}

.search-wrap.for-head-title {
    float: left;
    width: 65%;
    margin: 0;
    height: 40px;
}
.search-wrap {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 0;
    width: 100%;
    margin: 30px 0;
}

.search-wrap input[type="text"].oper-search {
    height: 30px;
    text-indent: 25px;
    padding: 0;
    font-size: 18px;
}
.search-wrap input[type="text"] {
    height: 50px;
    text-indent: 35px;
    display: inline-block;
    font: 24px/32px "helveticaneuecyrthin";
    font-weight: 100;
    border: none;
    width: 100%;
    outline: none;
    color: #555;
    padding: 3px;
    /*width: 0px;*/
    /*position: absolute;*/
    top: 0;
    /*right: 0;*/
    background: none;
    /*z-index: 3;*/
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

.search-wrap input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

.search-wrap input[type="text"]:focus {
    /*width: 700px;*/
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
.search-wrap input[type="submit"].oper-search {
    height: 32px;
    background-size: 16px;
    width: 20px;
}
.search-wrap input[type="submit"] {
    height: 57px;
    width: 35px;
    display: inline-block;
    color:red;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    background-size: 20px;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity .4s ease;
}
.search-wrap input[type="submit"]:hover {
    opacity: 0.8;
}
.close-btn {
    width: 10%;
    float: right;
    text-align: right;
}
.close-btn a {
    /*position: fixed;*/
    margin-left: -20px;
    color: inherit;
    font-size: 25px;
    line-height: 32px;
}
.close-btn a:hover {
    text-decoration: none;
    color: #70787a;
}
.all_clients_info  table.users-list {
     width: 99%;
     margin: 0 auto;
}
.all_clients_info table.users-list>thead>tr>th,
.all_clients_info table.users-list>tbody>tr>td {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #ddd;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.all_clients_info table.users-list>tbody>tr>td {
    line-height: 40px;
    padding: 20px 10px;
}
.all_clients_info table.users-list>thead>tr>th:first-child {
    padding-left: 25px;
    padding-right: 70px;
}
.all_clients_info table.users-list>thead>tr>th:last-child {
    padding-left: 30px;
}
.all_clients_info table.users-list>tbody>tr>td:last-child div {
    padding-left: 20px;
}
.all_clients_info table.users-list>tbody>tr>td:last-child div:hover {
    background-color: #9e3828;
    color: white;
    cursor: pointer;
}
.all_clients_info table.users-list>tbody>tr>td:last-child {
    padding-right: 30px;
}
.all_clients_info table.users-list>thead {
    color:#70787a;
}
.all_clients_info table.users-list>thead>tr {
    background-color: #f6f4ef;
}
.all_clients_info table.users-list>tbody>tr>td:first-child {
    padding-left: 20px;
}
/* ----------------- additional styles for this file -------------- */
.all_clients_info table.users-list>thead a {
    color:#70787a;
}
.all_clients_info table.users-list>thead a:hover {
    text-decoration: none;
}
/* ------------------- end of additional styles ------------------- */

img .users-list {
    float: left;
}
.cell-user-name {
    color: #333333;
    padding-left: 10px;
    font-weight: bold ;
    line-height: 40px;
    float: left;
}
td.font-bolder {
    font: 14px/20px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

/* ---------------------------------------------------
     admin logout styles. Button in top-right corner
-------------------------------------------------------*/
.operator-name {
    font: bold 12px 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
    color: #9ea3a4;
    line-height: 50px;
}
.nav>li>a.operator-name {
    padding: 0;
    padding-right: 55px;
}
.nav>li>a.operator-name:hover,
.nav>li>a.operator-name:focus{
    background-color: #eee;
    padding-left: 50px;
    color: #363636;
}
.nav>li>a.operator-name:hover i:before,
.nav>li>a.operator-name:hover b:before {
    color: #000000;
}
.nav>li>a.operator-name:hover i {
    border-color: #000000;
}
.operator-name i {
    border: 2px solid white;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    margin-top: 8px;
    margin-left: -42px;
}
.operator-name i:before {
    position: absolute;
    font-size: 16px;
    top: 5px;
    left: 5px;
    color: white;
}
.operator-name b:before {
    font-size: 30px;
    position: absolute;
    margin-top: -20px;
    padding-left: 20px;
    color: #FFFFFF;
}
/* --------------------------------
     page styles.
-----------------------------------*/

#page-wrapper {
    margin-top: 102px;
}
.left_side, .right_side {
    float: left;
    width: 50%;
    height: 700px;
    /*min-height: 700px;*/
}
.guide_side {
}
.left_side {
    height: 100%; /* temporary to see all the content */
    background-color: #FFFFFF;
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    overflow-y: auto;
}
.op_client_top {
    background-color: #f7f8f8;
    height: 100px;
}
.top-client-img {
    height: 100px;
    width: 240px;
    float: left;
}
.top_client_info {
    height: 100%;
    line-height: 100px;
}

.operator_panel_client_avatar {
    width: 65px;
    height: 70px;
}
.avatar-box {
    float: left;
    padding-right: 20px;
}
.user-names {
    float: left;
    color: #70787a;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 20px;
    max-width: 77%;
}
.user-names span {
    display: block;
    font-size: 16px;
    line-height: 24px;
}
.user-names span:first-child {
    font-size: 24px;
}
.country-img-box {
    float: left;
    line-height: 80px;
}
.client_left_panel {
    width: 240px;
    padding: 0 25px;
    font-weight: bold;
    float: left;
}
.client_left_panel p {
    margin-bottom: 5px;
}
.client_id {
    font-family: 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
}
/* doesn't work correctly
.client_id::first-letter {
    font-weight: normal;
    color: #70787a;
}*/
.client_left_panel a:hover {
    text-decoration: none;
}
/* to set real width, as designed */
.client_right_panel {
    float: left;
    width: 60%;
}
.data-block p {
    margin-bottom: 0;
}
.data-title {
    color: #c6ced0;
    padding-bottom: 25px;
    text-transform: uppercase;
    /*color: #70787a;*/
    font: bold 16px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    letter-spacing: 0.1em;
}
.uppercase {
    text-transform: uppercase;
}

.one-column {
    float: left;
    width: 30%;
}
.central-column {
    width: 40%;
    float:left;
}
.one-column p,
.central-column p {
    padding-bottom: 15px;
}
.central-column p {
    font-weight: bold;
    color: #70787a;
    font-family: 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
}
.central-column > p:last-child {
    padding-bottom: 45px;
}
.right-column {
    float: left;
    width: 30%;
    font-weight: bold;
    color: #70787a;
}
.right-column img {
    outline: 1px solid #e0e3e4;
    padding: 7px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
}
.right-column p {
    padding-left: 8px;
    font-family: 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
}
.right-column .edit-link a {
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.edit-link p {
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.edit-link a:hover,
.client_right_panel a:hover{
    text-decoration: none;
}
.edit-link a {
    border-bottom: 1px dotted;
}
.remain-length {
    width: 70%;
}
.in-top-cl-info {
    font-weight: bold;
    float: right;
    margin-right: 5px;
    font-size: 10px;
}
.contacts-block p {
    /*padding-bottom: 0;*/
}
.one-row {
    padding-bottom: 15px;
}
.one-row .central-column > p:last-child {
    padding-bottom: 0;
}
.vert-dash {
    border-right: 1px dotted #c1cdd0;
    padding-left: 10px;
}
.district-name {
    padding-left: 10px;
    font-weight: normal;
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
}
.add-file-block {
    float: left;
    width: 30%;
    height: 110px;
    font-weight: bold;
    border: 1px solid #e0e3e4;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
}
.add-file-block a {
    border-bottom: 1px dotted #c1cdd0;
}
.load-title {
    line-height: 50px;
    color: #428bca;
    /*font-weight: bold;*/
    text-transform: uppercase;
    font-size: 11px;
    font-family:  'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    text-align: right;
    padding-right: 3px;
    letter-spacing: 0.05em;
}
.load-title i {
    font-size: 22px;
    /*position: absolute;*/
    margin-left: -20px;
    margin-top: 14px;
}
.upload-file {
    border-bottom: 1px dotted #e0e3e4;
}
.upload-file input {
    display: block;
    width: 100%;
    margin-top: -50px;
    height: 100%;
    opacity: 0;
    overflow: hidden;
}
.table-title {
    float: left;
}
.table-file {
    float: right;
    background-color: #f0f6f8;
    width: 30%;
    font-weight: bold;
    padding-right: 5px;
    margin-top: -5px;
    border-bottom: none;
}
.table-file .load-title {
    line-height: 30px;
}
.table-file .load-title i {
    font-size: 14px;
    margin-top: 0px;
}
.upload-file.table-file  input {
    margin-top: -30px;
    line-height: 30px
}
.doc-list {
    width: 100%;
    font-weight: bold;
    margin-bottom: 215px;
}
.doc-list thead tr {
    background-color: #f5f6f6;
    color: #70787a;
    font-family: 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
}
.doc-list th,
.doc-list td {
    padding-left: 25px;
}
.doc-list td {
    color: #9ea3a4;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.doc-list input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
}
.doc-name {
    color: #70787a;
    font-family: 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
}
.doc-list tbody tr td:last-child {
    text-align: right;
}
.doc-list tbody tr {
    border-bottom: 1px dotted #d1d1d1;
}
.doc-list tbody tr:last-child {
    border-bottom: none;
}
/* .navbar-header , .top-client-img, .client_left_panel -  have width: 240px  */
.right_side {
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    float: right;
    color: #70787a;
    background-color: #f6f4ef;
}
.right_panel {
    font-size: 12px;
    list-style: none;
    width: 35%;
    float: left;
    height: 100%;
    background-color: #f0ece5;
    padding: 5px 15px 10px 60px;
    border-right: 1px solid #e8e4dd;
    border-left: 1px solid #e8e4dd;;
    margin-bottom: 0;
    overflow-y: auto;
}
.active-point {
    background-color: aliceblue;
    padding-left: 25px;
    margin-left: -25px;
}
.active-point * {
    color: black;
}
.category-search .category_title {
    color: #70787a;
    font-family: 'helveticaneuecyrbold', 'Helvetica', Arial, sans-serif;
    letter-spacing: 0;
}
.cat-search {
    display: inline-block;
    position: relative;
    height: 40px;
    padding: 0;
    width: 100%;
    border-bottom: 1px dotted #a8a5a0;
}
.category_title {
    color: #a2a7a8;
    margin-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    font: bold 12px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    letter-spacing: 0.1em;
}
.right_panel input[type="text"].cat-search {
    height: 20px;
    /*text-indent: 20px;*/
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 100;
    border: none;
    width: 90%;
    outline: none;
    color: #555;
    padding: 3px;
    /*top: 0;*/
    background: none;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}
.right_panel input[type="submit"].cat-search {
    height: 24px;
    width: 12px;
    display: inline-block;
    color: red;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    text-indent: -10000px;
    background-size: 12px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity .4s ease;
}
.right_panel li.active {
    background-color: #000000;
}
.right_panel ul {
    list-style: none;
    padding-left: 0;
}
.right_panel ul li {
    padding-bottom: 20px;
}
.right_panel ul li p {
    margin: 0;
}
.right_content {
    float: right;
    padding: 5px 25px 5px 35px;
    width: 64%;
    font-family: 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    color: #70787a;
}
.right_content h1 {
    font: bold 24px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    color: #70787a;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px dotted #a8a5a0;
}
.close_guide {
    right: 30px;
    color: #cac8c4;
    font-size: 24px;
    margin-top: 20px;
    position: fixed;
}
.close_guide:hover {
    color: #cac8c4;
    text-decoration: none;
}
.guide_content {
    padding-top: 20px;
}
.guide_content ol li,
.guide_content ul li{
    padding-top: 20px;
}
.guide_content ol li:first-child,
.guide_content ul li:first-child {
    padding-top: 0;
}
.guide_content ol {
    line-height: 18px;
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;
}
.guide_content ol > li {
    position: relative;
    margin: 0 0 6px 2em;
    padding: 4px 10px;
    list-style: none;
}
.guide_content ol > li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -1px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1.8em;
    margin-right: 8px;
    padding: 4px;
    border-radius: 15px;
    color: #fff;
    background-color: #c0c4c2;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.right_content strong {
    font-family: 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
}


/* --------------------------------
                POPUPs
-----------------------------------*/

.operators-popup {
    width: 240px;
    height: 185px;
    left: 255px;
    position: absolute;
    top: 41px;
    overflow: auto;
    z-index: 3;
}
.operators-popup .popup-wrapper,
.empty-popup .empty-popup-wrapper {
    background-color: #FFFFFF;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.popup-wrapper hr,
.empty-popup-wrapper hr {
    width: 90%;
    margin: 0;
}
.popup-wrapper ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.popup-wrapper ul li {
    padding: 6px 12px;
    cursor: pointer;
}
.popup-wrapper ul li:hover {
    background-color: #e8eaeb;
}
.popup-img-box {
    border: 2px solid blanchedalmond;
    box-shadow: 0 0 3px black;
    margin-right: 8px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}
.popup-text {
    padding: 5px;
}
.popup-text p {
    color: #363636;
    margin-bottom: 0;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    overflow: hidden;
}
.popup-text p:first-child {
    font-family: 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
}

/* empty search. No clients had been founded*/

.empty-popup {
    width: 240px;
    height: 200px;
    left: 255px;
    position: absolute;
    top: 41px;
    overflow: hidden;
    z-index: 10;
}
.empty-popup .empty-popup-wrapper {
    height: 100%;
}
.empty-popup-wrapper p {
    color: #a2a2a2;
    margin: 0;
    text-align: center;
    line-height: 20px;
}
.empty-popup-wrapper p:first-of-type {
    padding-top: 35px;
    padding-bottom: 25px;
}
.client-map {
    padding-bottom: 20px;
}
.client-map {
    display: none;
}
.client-map iframe {
    width: 100%;
    max-height: 30%;
    height: 235px;
}

.client-chat-position {
    padding-top: 80px;
    top: 0;
    width: 50%;
    position: absolute;
    /*display: none;*/
}
.client-chat {
    width: auto;
    /*height: 380px;*/
    height: 100%;
}
.chat-header {
    background-color: #7b878a;
    opacity: 0.9;
}
.chat-header {
    font: bold 12px/20px 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px;
    letter-spacing: 0.05em;
}
.quest-icon {
    background: url(../image/comment_icon.png) no-repeat left center;
    width: 17px;
    height: 20px;
    float: left;
    background-size: 12px;
}
.underscore-icon {
    background: url(../image/chat-underscore-icon.png) no-repeat left center;
    cursor: pointer;
    width: 17px;
    height: 20px;
    float: right;
    margin-top: 1px;
    margin-right: 6px;
    background-size: 19px;
}
.min-window-icon {
    background: url(../image/chat-minimalize-window.png) no-repeat left center;
    cursor: pointer;
    width: 17px;
    height: 20px;
    float: right;
    background-size: 21px;
}
.chat-content {
    padding: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
}
.chat-content p {
    margin-bottom: 0;
}
.chat-mes-box div{
    /*display: inline-block;*/
    border-radius: 5px;
    padding: 10px 25px 10px 15px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
.first-user div{
    background-color: #9c392c;
    color: white;
    max-width: 88%;
}
.first-user {
text-align: left;
}
.first-user {
    float: right;
}
.second-user {
    float: left;
}
.second-user div {
    background-color: #FFFFFF;
    color: #5a6064;
    /*float: right;*/
    border: 2px solid #e6e7e9;
    max-width: 90%;
}
.second-user .published-time {
    width: 100%;
    left: 0;
    text-align: right;
    padding-right: 35px;
}
.published-time {
    color: #a4a9ac;
    font: bold 12px "helveticaneuecyrroman", Arial, Helvetica, sans-serif;
    margin-top: -17px;
    /*position: absolute;*/
    margin-bottom: 5px !important;
}
.typing-panel {
    padding-top: 35px;
}
.typing-panel textarea {
    overflow: hidden;

    padding: 10px 80px 10px 13px;
    min-height: 80px;
    max-width: 100%;
    width: 100%;
    font-family: "helveticaneuecyrroman", Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    border: 2px solid #e6e7e9;
    color: #5a6064;
}
.chat-mes-box.second-user .second-time {
    text-align: left;
}
.typing-panel textarea:focus {
    outline-color: #9c392c;
}
.glyphicon-remove {
    cursor: pointer;
}
#active_chat.minichat .chat-content{
    display: none;
}
#active_chat.minichat {
    display: none;
    height: 30px;
    width: 100px;
}
#active_chat.minichat .client-chat-position {
    width: 100%;
}
.upload-for-chat {
    width: 70px;
    float: right;
    border-bottom: 0;
}
.upload-for-chat .load-title i {
    margin-top: 0px;
    font-size: 14px;
}
.upload-for-chat .load-title {
    line-height: 20px;
    position: absolute;
    margin-top: -70px;
    margin-left: 16px;
    padding-right: 0;
}
.upload-for-chat input {
    margin-top: -70px;
    margin-left: -15px;
}
.chat-send-mes {
    width: 90px;
    left: 0;
    margin-top: -42px;
    padding: 0 10px;
    position: relative;
    float: right;
}
.chat-send-mes input {
    border-radius: 2px;
    font-size: 9px;
    border: none;
    background-color: #9c392c;
    text-transform: uppercase;
    padding: 8px 7px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.1em;
}

@media (max-width: 1370px) {
    .nav>li>a.operator-name:hover,
    .nav>li>a.operator-name:focus {
        padding-left: 20px;
    }
    .all-client-link {
        font-size: 12px;
    }
    .all-client-link:last-child {
        margin-left: 20px;
    }
    .clients_autocomplete,
    .empty-popup,
    .operators-popup {
        width: 225px;
    }

}

.chat_table td{
    border-bottom: 1px solid black;
}

#messages_block {
    height: 300px;
    overflow-y: scroll;
}
@media screen and (max-height: 908px) {
    #filter_form {
        height: 500px;
    }
}
@media screen and (max-height: 766px) {
    #filter_form {
        height: 400px;
    }
}
/* */
.close_param {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 3px;
}
.param {
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
}
/* */
