html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
*:focus {
    outline: 0;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* ----------------------
        FONTS
------------------------*/

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=4.3.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../font/helveticaneuecyr-thin.eot');
    src: url('../font/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-thin.woff2') format('woff2'),
    url('../font/helveticaneuecyr-thin.woff') format('woff'),
    url('../font/helveticaneuecyr-thin.ttf') format('truetype'),
    url('../font/helveticaneuecyr-thin.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/helveticaneuecyr-light-webfont.eot');
    src: url('../font/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-light-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-light-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../font/helveticaneuecyr-bold-webfont.eot');
    src: url('../font/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'helveticaneuecyrheavy';
    src: url('../font/helveticaneuecyr-heavy-webfont.eot');
    src: url('../font/helveticaneuecyr-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-heavy-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-heavy-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-heavy-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-heavy-webfont.svg#helveticaneuecyrheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../font/helveticaneuecyr-roman-webfont.eot');
    src: url('../font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    width: 100%;
    font: 14px/18px 'helveticaneuecyrlight', 'Helvetica', Arial, sans-serif;
    color: #70787a;
    background: #fff;
}

a {
    color: #2a7f95;
}
.main_wrapper {
    width: 100%;
}
#header {
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.09);
    background: #0f2930 url(../image/header_bg.jpg) no-repeat 0 0;
    background-size: cover;
    min-height: 700px;
}
#header .top_header {
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    background: #647276;
    z-index: 100;
}
.top_header .top_wrapper, #header .header_wrapper {
    width: 1166px;
    margin: 0 auto;
}
.top_header .top_wrapper {
    text-align: center;
}
.top_header .lang_holder {
    float: left;
}

#header-register {

}