/* ----------------------------------------
     for USER not PAID  REMINDER BLOCK
-------------------------------------------*/
.reminder-block {
/*temporary position*/
    position: absolute;
    top: 200px;
    width: 440px;
    height: 400px;
}
.rem-outside-wrapper {
    border: 12px solid #babbba;
    border-bottom: 0;
    box-sizing: border-box;
    height: 100%;
}
.reminder-wrapper {
    padding: 20px 25px;
    height: 100%;
    background-color: #f0f1f1;
}

.profile-menu {
    padding-bottom: 20px;
    border-bottom: 1px solid #c1cdd0;
}
.my-profile,
.profile-setting {
    float: left;
    width: 50%;
}

.my-profile,
.btn-title,
.order-sum {
    font: 14px 'helveticaneuecyrroman', Arial, sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
.profile-setting {
    text-align: right;
    color: #2a7f95;
}
.profile-setting a {
    font: 14px 'helveticaneuecyrthin', Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px dotted;
}
.profile-setting a:first-child {
    margin-right: 15px;
}
.profile-desc {
    padding: 25px 0;
    text-align: center;
    font: 16px/22px 'helveticaneuecyrthin', Arial, sans-serif;
}
.prof-username {
    line-height: 40px;
    padding-bottom: 20px;
    font-size: 30px;
}
.user-info {
    font-weight: bold;
    color: #9e3828;
}
.order-setting {
    font: 14px 'helveticaneuecyrthin', Arial, sans-serif;
    padding: 0 30px;
}
.payment-desc {
    padding-bottom: 30px;
}
.order-sum {
    float: left;
    width: 40%;
    font-size: 20px;
    line-height: 25px;
}
.order-sum small {
    font-size: 15px;
    text-transform: none;
    font-weight: 100;
}

.sum-desc {
    font: 12px 'helveticaneuecyrthin', Arial, sans-serif;
    text-transform: none;
}
.buy-btn {
    float: left;
    width: 60%;
    background-color: #9e3828;
    border-radius: 3px;
}

.btn-title {
    color: #f9f5f5;
    line-height: 45px;
    text-align: center;
}
.question-btn {
    font: bold 16px 'helveticaneuecyrroman', Arial, sans-serif;
    background-color: #cdd2d3;
    color: #f9f5f5;
    text-transform: uppercase;
    line-height: 65px;
    text-align: center;
    border-radius: 3px;
}
.image-box {
    display: inline;
    padding-right: 8px;
}
.image-box img {
    width: 20px;
    margin-bottom: -5px;
}


/* ----------------------------------------
     for USER PAYMENT   PAYMENT-STATUS BLOCK
-------------------------------------------*/

.payment-status-block {
    /*temporary position*/
    position: absolute;
    top: 200px;
    right: 0px;
    width: 440px;
    height: 400px;
}

.pay-outside-wrapper {
    border: 12px solid #babbba;
    border-bottom: 0;
    box-sizing: border-box;
    height: 100%;
}
.payment-wrapper {
    padding: 20px 25px;
    height: 100%;
    background-color: #f0f1f1;
}
.for-payment {
    padding-bottom: 10px;
}
.pay-num {
    font: 16px/16px 'helveticaneuecyrroman', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
}
.app-store-pay {
    margin-bottom: 10px;
    line-height: inherit;
    font: bold 16px 'helveticaneuecyrroman', Arial, sans-serif;
    background-color: #000000;
    color: #f9f5f5;
    text-align: center;
    border-radius: 3px;
}
.question-btn.payment-page {
    background-color: #9e3828;
}
.app-store-name {
    float: left;
    width: 60%;
    text-align: right;
}

.icon-box {
    width: 45%;
    float: left;
}
.icon-box i {
    font-size: 35px ;
    padding-right: 10px;
    line-height: 65px;
}
.app-title {
    margin-top: 15px;
    border-right: 1px dotted;
    width: 54%;
    float: left;
    line-height: 16px;
    text-align: left;
    font-size: 18px;
}
.app-title small {
    display: block;
    font-size: 12px;
}
.app-desc {
    width: 40%;
    line-height: 20px;
    text-align: left;
    color: #a0a0a0;
    float: left;
    font-weight: 100;
    font: 12px 'helveticaneuecyrroman', Arial, sans-serif;
    text-transform: uppercase;
}
.app-desc > div {
    padding: 18px 10px;
    font-size: 11px;
}
.pay-response {
    padding-top: 10px;
    font: 14px 'helveticaneuecyrthin', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}