/* -------------------------------
        EMAIL EXAMPLE PAGE
---------------------------------*/

.hide-el {
    display: none;
}
.header-link {
    width: 30%;
    display: inline-block;
    text-align: right;
    padding-top: 32px;
    line-height: 30px;
}
.header-link a {
    font: 300 14px/1.4 Helvetica, Arial, sans-serif;
    text-decoration: underline;
    color: #DADDDF;
}
.e-page-changes {
    width: 70%;
    float: left;
}
#header-register.email-header {
    height: 85px;
}
#main_content.email-bg {
    background: #647276;
}
#main_content .content-wrapper-white.email-block {
    width: 50%;
    padding: 0;
}
.email-block {
    text-align: center;
}
#main_content .content-wrapper-white.email-padding {
    /*top: -217px;*/
    top: 0;
    border-bottom: 4px solid #5d6a6e;
}
.email-wrapper {
    margin: 0 15%;
    padding: 40px 0;
}
.email-title {
    font: bold 30px/32px 'helveticaneuecyrthin', 'Helvetica', Arial, sans-serif;
    color: #7d8a8e;
}
.email-content {
    padding: 15px 0;
}
.email-content p,
.email-btn {
    padding-bottom: 15px;
    color: #363636;
}
.email-btn a {
    display: inline-block;
    background: #9c392c;
    padding: 20px 40px;
    border-radius: 4px;
    font: bold 30px/1.4 Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}
p.email-notice {
    font: 12px/1.4 Helvetica, Arial, sans-serif;
    color: #666;
}
.email-info {
    background-color: #f9f8f4;
    font-family: Arial, sans-serif;;
}
.email-info .wrapper {
    padding-top: 15px;
    padding-bottom: 35px;
    margin-left: 11%;
    margin-right: 5%;
}
.record-style {
    color: #363636;
}
.foot-info-block {
    float: left;
    width: 33%;
    font-size: 12px;
    text-align: left;
}
.foot-info-block .title {
    color: #A6A29C;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin: 15px 0;
}
.foot-info-block .content {
    line-height: 14px;
    padding-bottom: 20px;
}

.foot-info-block .info {

}
.foot-info-block a {
    text-decoration: underline;
}
.email-footer {
    padding: 40px 0;
    text-align: center;
    font: 12px/1.4 Arial, sans-serif;
    color: #aeb4b6;
}
.email-footer a {
    color: #DADDDF;
    text-decoration: underline;
}