/* ----------------------
        LOGIN PAGE
------------------------*/

#main_content .content-wrapper-white.login-block {
    width: 50%;
    padding: 0;
}

.login-block {
    font-size: 14px;
    font-family: 'helveticaneuecyrthin', Arial, sans-serif;
}
.login-wrapper {
    padding: 50px 100px 80px;
    color: #dadada;
}
.login-block label {
    color: #9e9e9e;
    font-weight: bold;
}
.login-block li {
    padding-bottom: 45px;
}
.login-form li {
    font: 14px 'helveticaneuecyrthin', Arial, sans-serif;
}
.login-form li:last-child {
    padding-bottom: 0;
}

.login-form input[type="text"],
.login-form input[type="date"],
.login-form input[type="email"],
.login-form input[type="password"],
.login-form textarea,
.login-form select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    /*color: #9e9e9e;*/
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 5px;
    font: 24px 'helveticaneuecyrthin', Arial, sans-serif;
    height: 45px;
}
.login-form textarea{
    resize:none;
    overflow: hidden;
}
.login-form input[type="button"],
.login-form input[type="submit"]{
    background: #9c392c;
    cursor: pointer;
    padding: 25px 40px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font: bold 14px/20px 'helveticaneuecyrbold', 'Helvetica', Arial, sans-serif;
    border: none;
}
.login-form input[type="button"]:hover,
.login-form input[type="submit"]:hover {
    /*background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);*/
    /*background-color:#34CACA;*/
}
.login-form input[type="text"]:focus,
.login-form input[type="date"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    color: #9e9e9e;
    font-weight: bold;
    border-bottom: 2px solid #647276;
}
.login-form  input[type="text"].fail-submit:focus,
.login-form  input[type="date"].fail-submit:focus,
.login-form  input[type="email"].fail-submit:focus,
.login-form  input[type="password"].fail-submit:focus {
    border-bottom: 1px solid #9c392c;
}
.fail-submit {
    color: #9c392c;
}
.login-form .fail-message {
    color: #9c392c;
    font-weight: bold;
}
.login-form p {
    font: 14px 'helveticaneuecyrthin', Arial, sans-serif;
}
.login-btn {
    width: 30%;
    float: left;
}
.login-btn input {
    font-weight: bold;
}
.login-form a {
    font-weight: bold;
    border-bottom: 1px dotted;
}
.login-submit-block {
    height: 100%;
    line-height: 66px;
}
.login-submit-block a:first-child::after {
    border: 5px solid;
}
.login-links {
    text-align: right;
}
.login-links span {
    padding: 0 15px;
    font-size: 25px;
}
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d7d7d7;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d7d7d7;
    opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d7d7d7;
    opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #d7d7d7;
}

/* ----------------------
        RESTORE PASSWORD PAGE
------------------------*/
/* @TODO this styles need to consider*/
#header-register .top_header .top_wrapper p.res-pass-title {
    text-transform: none;
    color: #ffffff;
    padding-top: 0;
    font: 36px/30px 'helveticaneuecyrthin', Arial, sans-serif;
}
#header-register .top_header .top_wrapper p.login-title {
    text-transform: none;
    color: #ffffff;
    font: 36px/30px 'helveticaneuecyrthin', Arial, sans-serif;
}
.res-pass-title {
    width: 50%;
}
#main_content .content-wrapper-white.restore-block {
    min-height: 0;
}
/* @TODO this styles need to consider*/

.respass-form p {
    font-weight: bold;
    padding-top: 10px;
}
.respass-message {
    color: #363636;
    width: 73%;
}
.respass-btn {
    width: 50%;
}
