html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
*:focus {
    outline: 0;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* ----------------------
        FONTS
------------------------*/
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../font/helveticaneuecyr-roman-webfont.eot');
    src: url('../font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=4.3.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/helveticaneuecyr-light-webfont.eot');
    src: url('../font/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-light-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-light-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../font/helveticaneuecyr-thin.eot');
    src: url('../font/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-thin.woff2') format('woff2'),
    url('../font/helveticaneuecyr-thin.woff') format('woff'),
    url('../font/helveticaneuecyr-thin.ttf') format('truetype'),
    url('../font/helveticaneuecyr-thin.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    width: 100%;
    font: 14px/18px 'Helvetica', Arial, sans-serif;
    color: #70787a;
    background: #fff;
}
a {
    color: #2a7f95;
}
.main_wrapper {
    width: 100%;
}
#header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background: #647276;
    color: #fff;
    padding: 0 13px 0 26px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.09);
}
#header .logo {
    /*font-weight: bold;*/
    font: 10px/13px 'helveticaneuecyrbold', Arial, sans-serif;
    /*font: 10px/15px Helvetica, Arial, sans-serif;*/
    text-transform: uppercase;
    width: 13%;
    padding: 12px 13px 10px 0;
    float: left;
}
#header .open_users {
    float: left;
}
.open_users .user {
    padding: 9px 17px 10px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
.open_users .user.active {
    background: #455357;
}
.user .close {
    background: url('../image/close.png') no-repeat 0 0;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 15px;
    right: 21px;
}
.user .close a {
    opacity: 0;
    display: block;
}
.open_users .user .image {
    border: 2px solid #fff;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 10px 0 0;
    width: 26px;
    height: 26px;
    float: left;
}
.open_users .user .image img {
    width: 100%;
}
.open_users .user .info {
    padding: 1px 24px 0 0;
    font-size: 12px;
    float: left;
    line-height: 15px;
}
.open_users .user .info h3 {
    font-size: 12px;
    font-weight: bold;
}
#header .search_holder {
    padding: 10px 20px 0 25px;
    float: left;
    overflow: hidden;
}
.search_holder .input_holder {
    width: 228px;
    position: relative;
    float: left;
    margin: 0 20px 0 0;
}
.search_holder .input_holder:before {
    content: '\f002';
    font-family: 'FontAwesome';
    position: absolute;
    top: 4px;
    left: 10px;
    color: #68767a;
}
.search_holder .input_holder input {
    width: 100%;
    height: 29px;
    padding: 0 10px 0 30px;
    color: #68767a;
    border-radius: 3px;
    border: none;
    background: #fff;
    font: 12px/29px 'helveticaneuecyrroman', Arial, sans-serif;
    box-sizing: border-box;
}
.search_holder .input_holder input::-webkit-input-placeholder {
    color: rgba(100, 114, 118, 0.4);
}
#header .all_client {
    float: left;
    background: url('../image/all_client_icon.png') no-repeat 0 8px;
    padding: 0 0 0 16px;
    line-height: 29px;
    cursor: pointer;
}
.all_client span {
    border-bottom: 1px dotted #fff;
    font-size: 12px;
    line-height: 13px;
}
#header .operator {
    float: right;
    background: url('../image/exit_icon.png') no-repeat right center;
    padding: 4px 50px 0 0;
    overflow: hidden;
    margin-top: 5px;
}
#header .operator .image {
    overflow: hidden;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 0 10px 0 0;
}
#header .operator .image img {
    width: 100%;
}
#header .operator .info {
    float: left;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 0 0;
}
#main_content {
    width: 100%;
}
#main_content .user_content {
    width: 50%;
    float: left;
}
.user_content .user_header {
    background: #f7f8f8;
    padding: 20px 0 20px 14px;
    overflow: hidden;
}
.call_block .icon, .call_block .call_info, .call_block .map_icon {
    float: left;
}





/* ----------------------
        ERROR page
------------------------*/

.error-page {
    background-color: #647276;
    height: 915px;

}

.page-wrapper {

}

.error-header {
    color: #828c8f;

}

.header-box {
    padding-top: 30px;
    margin-left: 25%;

}

.backward-text {
    /*display: inline-flex;*/
    width: 280px;
    font-size: 14px;
    text-transform: uppercase;
}

.backward-text i {
    margin-left: -28px;
    position: absolute;
}
.page-title {
    color: #ffffff;
    font: 36px/43px 'helveticaneuecyrthin';
    padding-top: 30px;
    padding-bottom: 50px;
}

.main-content {
    margin: 0 25%;
    height: 440px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 0 120px;
    margin-bottom: 30px;
    /*box-shadow: 0px 0px 2px white*/
}

.main_wrapper {
    /*font-family: 'helveticaneuecyrroman', Arial, sans-serif;*/
    font-family: 'helveticaneuecyrthin', Arial, sans-serif;
    font-size: 14px;
}

.error-message-title {
    font: 36px/43px 'helveticaneuecyrthin';
    padding-top: 90px;
    padding-bottom: 30px;
}
.message-content {
    /*font: 14px/20px 'helveticaneuecyrlight';*/
    font: 14px/20px 'helveticaneuecyrthin';
}
.search-wrap {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 0;
    width: 100%;
    position: relative;
    margin: 30px 0;
}

input[type="text"] {
    height: 50px;
    text-indent: 35px;
    font-size: 24px;
    display: inline-block;
    font: 24px/30px "helveticaneuecyrthin";
    font-weight: 100;
    border: none;
    width: 100%;
    outline: none;
    color: #555;
    padding: 3px;
    /*width: 0px;*/
    /*position: absolute;*/
    top: 0;
    /*right: 0;*/
    background: none;
    /*z-index: 3;*/
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
    /*width: 700px;*/
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}
input[type="submit"] {
    height: 57px;
    width: 35px;
    display: inline-block;
    color:red;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    background-size: 20px;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}

input[type="submit"]:hover {
    opacity: 0.8;
}
.main-wrapper a {
    /*font-family: 'helveticaneuecyrroman';*/
    font-family: 'helveticaneuecyrthin';
    font-size: 14px;
}
.main-wrapper a:hover {

    text-decoration: underline;
}

.error-footer {
    margin: 0 25%;
    color: #7d8a8e;
    text-align: right;
    /*font: 13px/20px 'helveticaneuecyrroman';*/
    font: 13px/20px 'helveticaneuecyrthin';
}
