html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
*:focus {
    outline: 0;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* ----------------------
        FONTS
------------------------*/

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=4.3.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../font/helveticaneuecyr-thin.eot');
    src: url('../font/helveticaneuecyr-thin.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-thin.woff2') format('woff2'),
    url('../font/helveticaneuecyr-thin.woff') format('woff'),
    url('../font/helveticaneuecyr-thin.ttf') format('truetype'),
    url('../font/helveticaneuecyr-thin.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../font/helveticaneuecyr-light-webfont.eot');
    src: url('../font/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-light-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-light-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../font/helveticaneuecyr-bold-webfont.eot');
    src: url('../font/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'helveticaneuecyrheavy';
    src: url('../font/helveticaneuecyr-heavy-webfont.eot');
    src: url('../font/helveticaneuecyr-heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-heavy-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-heavy-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-heavy-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-heavy-webfont.svg#helveticaneuecyrheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../font/helveticaneuecyr-roman-webfont.eot');
    src: url('../font/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../font/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../font/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../font/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    width: 100%;
    font: 14px/18px 'helveticaneuecyrlight', 'Helvetica', Arial, sans-serif;
    color: #70787a;
    background: #fff;
}

a {
    color: #2a7f95;
}
.main_wrapper {
    width: 100%;
}
#header {
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.09);
    background: #0f2930 url(../image/header_bg.jpg) no-repeat 0 0;
    background-size: cover;
    min-height: 700px;
}
#header .top_header {
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    background: #647276;
    z-index: 100;
}
.top_header .top_wrapper, #header .header_wrapper {
    width: 1166px;
    margin: 0 auto;
}
.top_header .top_wrapper {
    text-align: center;
}
.top_header .lang_holder {
    float: left;
}
.top_header .lang_icon {

    cursor: pointer;
    line-height: 50px;
    width: 30px;
    display: block;
    float: left;
    position: relative;
    margin: 0 19px 0 0;
    text-align: left;
}
.top_header .lang_icon_show {
    background: url("../image/lang_icon.png") no-repeat;
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.top_header .lang_icon:after {
    content: '\f0d7';
    font: 14px 'FontAwesome';
    position: absolute;
    top: 16px;
    right: 0;
}
.useful_information:after {
    content: '\f0d7';
    font: 14px 'FontAwesome';
    position: relative;
    left:5px;
    cursor: pointer;
}
.top_header .lang_menu {
    float: none;
    position: absolute;
    overflow: hidden;
    text-align: left;
    width: 250px;
    border: 1px solid rgb(235, 235, 235);
    left: -6px;
    border-radius: 4px;
    top: 40px;
    background: #FFFFFF;
}
.useful_information {
    position: relative;
}
.useful_information_dropdown {
    float: none;
    position: absolute;
    overflow: hidden;
    text-align: left;
    width: 250px;
    border: 1px solid rgb(235, 235, 235);
    left: -6px;
    border-radius: 4px;
    top: 20px;
    background: #FFFFFF;
}
.lang_menu li, #main_nav .useful_information_dropdown li  {
    padding: 0;
    float: none;
    font: 12px/50px 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
    margin: 0;
}
.lang_menu li:hover, .useful_information_dropdown li:hover {
    background: #E8EAEB;
}
.reg_list.pull-left li {
    display: inline-block;
    font: 14px/50px 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
    line-height: 19px;
}
.lang_menu li a, #main_nav .useful_information_dropdown li a {
    margin-left: 25px;
    color: #757677;
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
}
.lang_menu p
{
    color: #ACB0B2;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 -5px 25px;
}
 .useful_information_dropdown p {
    color: #ACB0B2;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin: 16px 0 15px 24px;
}
.lang_menu li.active a {
    color: #8f9ea3;
    text-decoration: none;
}
.top_header .social_block {
    float: right;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    line-height: 46px;
}
.top_header .social_block i {
    font-size: 21px;
    margin: 13px 5px 0 0;
    display: inline-block;
}
.top_header .social_block span {
    margin: 1px 0 0;
    display: inline-block;
    vertical-align: top;
}
.top_header .center_block {
    display: inline-block;
}
.top_header .center_block .phone {
    font: 20px/50px 'helveticaneuecyrheavy', 'Helvetica', Arial, sans-serif;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.top_header .center_block ul {
    display: inline-block;
    margin: 0 0 0 19px;
    vertical-align: top;
}
li {
    font: 12px/50px 'helveticaneuecyrbold', 'Helvetica', Arial, sans-serif;
    line-height: 16px;
    margin-bottom: 11px;
}
.top_header .center_block li {
    display: inline-block;
    margin: 0 5px 0 0;
    font: 12px/50px 'helveticaneuecyrbold', 'Helvetica', Arial, sans-serif;
    background: url(../image/login_bullet.jpg) no-repeat left center;
    padding: 0 0 0 13px;

}
.top_header .center_block li:first-child {
    background: url(../image/comment_icon.png) no-repeat left center;
    padding: 0 0 0 21px;
    list-style: none;
}
.top_header .center_block a {
    color: #fff;
    text-decoration: underline;
}

#header .header_wrapper {
    padding: 112px 0 55px;
}
#main_nav {
    font: bold 12px/15px 'helveticaneuecyrbold', 'Helvetica', Arial, sans-serif;
    float: left;
    padding: 8px 0 0;
}
#main_nav li {
    float: left;
    margin: 0 23px 0 0;
}
#main_nav a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
}
.header_wrapper .search_block {
    margin: 0 0 0 10px;
    box-sizing: border-box;
    width: 250px;
    height: 30px;
    color: rgba(255, 255, 255, 0.42);
    font: 12px/30px 'helveticaneuecyrbold', Arial, sans-serif;
    float: left;
    position: relative;
}
.header_wrapper .search_block:before {
    content: '\f002';
    font: 19px 'FontAwesome';
    position: absolute;
    top: 5px;
    left: 0;
}
.search_block input {
    width: 100%;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 20px 0 24px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.42);
}
.header_wrapper .header_bottom {
    width: 100%;
    overflow: hidden;
    margin: 64px 0 0;
    display: inline-block;
}
.header_bottom .about {
    width: 660px;
    float: left;
    margin: 0 20px 0 0;
}
h1 {
    font: 36px/43px 'helveticaneuecyrthin';
    text-transform: uppercase;
}
.header_bottom .about h1 {
    font: 36px/43px 'helveticaneuecyrthin';
    text-transform: uppercase;
}
.header_bottom .desc {
    margin: 32px 0 0;
    width: 82%;
}
.header_bottom .desc p {
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 20px;
}
.header_bottom .register_info {
    float: right;
    padding: 10px 60px 0 0;
    width: 330px;
}
.register_info .reg_button, .content-wrapper-yellow .reg_button  {
    background: #9c392c;
    cursor: pointer;
    width: 293px;
    padding: 18px 20px;
    text-align: center;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mapping {
    width: 814px;
    margin: 0 auto;
}
.content-wrapper-yellow .reg_button p {
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    float: left;
}
.content-wrapper-yellow.advantages.system-block .reg_button p{
    font-weight: bold;
}
.status.gray-color {
    margin-left: 10px;
    font-size: 10px;
    color: #C59691;
}
h4 {
    font: bold 14px/18px 'helveticaneuecyrbold', 'Helvetica', Arial, sans-serif;
    text-transform: uppercase;
}
.reg_button h4 {
    font: bold 14px/18px 'helveticaneuecyrbold', 'Helvetica', Arial, sans-serif;
    text-transform: uppercase;
}
.reg_button .aligner {
    margin-left: 37px;
}
 .reg_button p {
    font-size: 12px;
}
 .reg_list {
    padding: 15px 0 0;
}
 h5 {
     font: 10px 'helveticaneuecyrbold';
     text-transform: uppercase;
 }
.register_info .reg_list h5 {
    font: 10px 'helveticaneuecyrbold';
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0 0 0 26px;
}
#main_content {
    background: url('../image/content_back.png');
    margin-bottom: -336px;

}
#main_content .content-wrapper-white  {
    background: white;
    width: 85%;
    height: 100%;
    min-height: 450px;
    margin: 0 auto;
    padding: 34px 40px;
    position: relative;
    top: -122px;
}
.reg_list.pull-left {
    width: 38%;
    float: left;
}
.reg_list.pull-right {
    float: right;
}
.information-block .reg_list.pull-left li p{
    color: #000000;
    margin: 18px 0 3px 35px;
}
.information-block .reg_list.pull-left ul li:last-child .phone-icon{
    height: 50px;
}
.information-block .reg_list.pull-left ul {
    margin-top: 24px;
}
.content-wrapper-white .reg_button {
    /*background: #9c392c;*/
    cursor: pointer;
    width: 293px;
    padding: 18px 20px;
    text-align: center;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
}
.content-wrapper-white .pull-left.reg_list h6
{
    font: 22px 'helveticaneuecyrlight';
    font-weight: normal;
    color: #9EA3A4;
    line-height: 27px;
    margin-bottom: 37px;
}
.reg_list.pull-left li{
    margin-bottom: 18px;
}
.content-wrapper-yellow.advantages h4
{
    text-align: center;
    font-weight: 100;
    font-size: 23px;
    width: 50%;
    text-transform: none;
    margin: 0 auto 44px;
    color: rgb(158, 158, 158);
    line-height: 30px;
}
.content-wrapper-yellow.advantages {
    background: #F9F8F4;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    min-height: 380px;
    padding: 34px 40px;
    position: relative;
    top: -122px;
}
.content-wrapper-white.con-block .reg_list.pull-left ul{
    margin-left: 10px;
}
.content-wrapper-white.con-block .reg_list.pull-right {
    width: 34%;
    margin-top: 11px;
}
.content-wrapper-dark-red {
    background: #2E3233;
    width: 68%;
    height: 100%;
    margin: 0 auto;
    min-height: 200px;
    padding: 23px;
    position: relative;
    z-index: 1;
    top: -122px;
}
.content-wrapper-white .reg_list.pull-right a {
    color: #3B8CA0;
    border-bottom: 1px dotted;
    font-size: 14px;
}
.content-wrapper-white .reg_list.pull-right .arrow-bottom
{
    color: #858680;
    line-height: 37px;
    font-size: 19px;
}
.content-wrapper-white .reg_list.pull-right h5, .content-wrapper-white.information-block .reg_list.pull-left h5
{
    border-bottom: 3px solid #C4C7C8;
    line-height: 51px;
    text-transform: uppercase;
    font-size: 18px;
    color: #858680;
    font-weight: 100;
}
.content-wrapper-white .reg_list.pull-right ul{
    margin-left: -20px;
}
.content-wrapper-white.con-block .reg_list.pull-right ul
{
    margin-left: -15px;
    padding: 12px 0 16px 0;
}
.content-wrapper-white.con-block .reg_list.pull-right ul li {
    margin-bottom: 4px;
}
.content-wrapper-white .reg_list.pull-right
{
    width: 42%;
    padding-bottom: 23px;
}
.content-wrapper-white.con-block .reg_list.pull-right ul
{
    border-bottom: 1px dotted gray;
}
.content-wrapper-white.con-block .reg_list.pull-right ul + a {
    border-bottom: 1px solid;
    margin-top: 20px;
    font-weight: bold;
}
.content-wrapper-white.con-block .links-for-clients {
    margin: 13px 0 0 43px;
}
.content-wrapper-white.con-block .links-for-clients a{
    margin: 24px 0 0 38px;
}
.content-wrapper-white.con-block .reg_list.pull-left  a {
    border-bottom: 1px solid;
    font-weight: bold;
}
.location-icon {
    background: url("../image/icons-sprite.png") no-repeat;
    width: 21px;
    height: 25px;
    display: block;
    float: left;
    background-position: -25px;
    margin-right: 10px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
footer {
    background: #2E3233;
    width: 100%;
    min-height: 600px;
    height: 100%;
    position: relative;
    /*top: -148px;*/
}
.consultation-block-back {
    background: url("../image/foot-red-back.png") no-repeat;
    height: 276px;
    width: 100%;
}
footer img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}
.content-wrapper-white.con-block .number{
    margin-right: 14px;
    float: left;
}
.content-wrapper-white.con-block .number + span{
    width: 90%;
    float: left;
}
.content-wrapper-yellow .reg_button {
    margin: 0 auto;
    cursor: pointer;
    height: 70px;
}

.phone-icon {
    background: url("../image/icons-sprite.png") no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 10px;
}
.content-wrapper-white.con-block
.reg_list.pull-left {
    width: 64%;
    float: left;
}
.content-wrapper-white.information-block .pull-right ul {
    margin-left: 0;
    margin-top: 17px;
}
.content-wrapper-yellow.advantages.system-block .list-advantages p{
    width: 140px;
}
.content-wrapper-white.information-block .pull-right ul span{
    line-height: 26px;
}
.consultation-block-back {
    color: #ffffff;
}
.consultation-block-back h1 {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    color: white;
    padding-top: 76px;
}
.consultation-block-back .consult_button {
    background: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    width: 241px;
    padding: 11px 0px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px auto 4px;
    text-align: center;
    color: #9E3A2A;
}
.consultation-block-back p {
    text-align: center;
    font-size: 13px;
}
ul.language-links li {
    display: inline;
    margin-right:20px;
}
ul.language-links {
    margin: 0 auto;
    width: 100%;
    display: block;
    padding: 20px;
}
.language-links a {
    color: rgb(128, 128, 128);
    text-decoration: underline;


}
.contacts_block_wrapper ul li {
    color: #ffffff;
    font: 12px/50px 'helveticaneuecyrroman', 'Helvetica', Arial, sans-serif;
    line-height: 19px;
}
.contacts_block_wrapper ul .header-list {
    font: 11px 'helveticaneuecyrlight', 'Helvetica', Arial, sans-serif;
    color: rgb(128, 128, 128);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contacts_block_wrapper ul{
    float: left;
    width: 138px;
    font-size: 11px;
}
/*.contacts_block_wrapper .centr-for-cityzen  {*/
    /*width: 380px;*/
/*}*/
.contacts_block_wrapper .centr-for-cityzen  {
    width: 390px;
}
.contacts_block_wrapper {
    display: block;
    width: 57%;
    margin: 35px auto;
}
.language-links-wrapper {
    border-top:1px dotted;
    border-bottom: 1px dotted;
    margin-top: 50px;
}
.content-wrapper-yellow.advantages .list-advantages li {
    float: left;
    margin-bottom: 50px;
    font-size: 11px;
}
.content-wrapper-yellow.advantages .list-advantages .big-numbers {
    background: url("../image/numbers.png") no-repeat;
    width: 44px;
    height: 44px;
    display: block;
    margin: 0 auto;
    border: 2px solid #AFB9BC;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}
.list-advantages p {
    width: 140px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
    line-height: 18px;
}
.list-advantages
{
    margin-left: 40px;
}
.border-divider-how div{
    border-bottom: 1px dashed #D1D1D1;
    width: 100px;
    position: relative;
    top: 40px;
}
.list-advantages .big-numbers span {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: 13px;
    left: 17px;
    color: #AFB9BC;
}
.dmsu-icon {
    background: url("../image/dmsu-logo.png") no-repeat;
    width: 74px;
    height: 114px;
    display: block;
}
.pull-left.dmsu-description {
    width: 74%;
}
.location-contacts-block-wrap {
    margin-top: 30px;
    margin-left: -28px;
}
.location-contacts-block-wrap .locate{
    min-width: 162px;
}
.gray-color {
    font-size: 13px;
    color:#9E9E9E;
}
.phones b {
    color: #000000;
}
.pull-left.dmsu-description p {
    color: #000000;
    margin: 10px 0 30px 11px;
}
.reg_list.pull-right.no-border {
    border:none;
}
.reg_list.pull-right.no-border a{
   text-decoration: underline;
    border: none;
}
.reg_list.pull-right.no-border .all-links{
    margin-bottom: 30px;
}
.reg_list.pull-right.no-border .clearfix {
    height: 40px;
}
.quest_icon {
    background: url(../image/comment_icon.png) no-repeat left center;
    width: 30px;
    height: 30px;
    float: left;
    display: block;
}
#main_content .content-wrapper-white.information-block {
    min-height: 516px;
}
.register_info .number {
    background: #9E3828;
    border-radius: 59px;
    padding: 1px 7px;
    font-size: 9px;
    float: left;
    margin-right: 10px;
}
.how-note {
    background: url("../image/how-note.png");
}
.how-quest {
    background: url("../image/how-quest.png");
}
.how-code {
    background: url("../image/how-code.png");
}
.how-warning {
    background: url("../image/how-warning.png");
}
.how-help {
    background: url("../image/how-help.png");
}
.big-static-icons {
    border: 2px solid #AFB9BC;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    width: 82px;
    height: 82px;
    display: block;
    margin: 0 auto;
}
.dark-back {
    background: #2E3233;
    width: 100%;
    height: 200px;
    top: -300px;
    z-index: 0;
    position: relative;

}
.content-wrapper-yellow.advantages .list-advantages p {
    width: 280px;
}
.content-wrapper-white.information-block .reg_list.pull-left {
    margin: 0 0 0 60px;
}
.content-wrapper-white.information-block .reg_list.pull-right {
    margin: 0 60px 0 0;
    border-bottom: 1px dashed rgb(209, 209, 209);
}
.content-wrapper-white.information-block .reg_list.pull-right.no-border {
    border: none;
}
/*registr layout*/

#header-register {
    background: #647276;
    width: 100%;
    height: 300px;
}
.registration-block input {
    border: none;
    color: #647276;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    font-size: 21px;
    font-weight: lighter;
    margin: 23px 0 11px;
}
.registration-block label
{
    color:#9E9E9E;
}
#main_content .content-wrapper-white.registration-block {
    width: 52%;
    padding: 0;
}
#main_content .content-wrapper-white.registration-block form ul{
    padding: 30px 70px;
}
#main_content .content-wrapper-white.registration-block .reg_button {
    background: #9c392c;

    cursor: pointer;
    width: 195px;
    padding: 26px 20px;
    margin: 30px auto;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
}
.content-wrapper-white.registration-block  .reg_button p {
    font-size: 14px;
    font-weight: bold;
}
#header-register .language-links a {
    color: #ffffff;
}
#header-register .language-links-wrapper {
    border: none;
    margin-top: 14px;
}
.pass-icon {
    width: 30px;
    height: 24px;
    float: right;
    cursor: pointer;
    top: -64px;
    position: relative;
    display: block;
    background: url("../image/show-hide-pass.png") no-repeat;
}
.pass-icon.show {
    background-position: -28px;
}
#header-register .language-links-wrapper p {
    float: left;
    color: #ffffff;
    font-size: 36px;
}
#header-register .top_header .top_wrapper {
    width: 50%;
}
#header-register .top_header .top_wrapper p
{
    text-align: left;
    color: rgb(209, 209, 209);
    text-transform: uppercase;
    padding-top: 32px;
}
.pass-icon.hide {
   top:-58px;
}
#header-register .top_header .top_wrapper p span {
    display: block;
}
.registration-block .notification {
    background: #FAF8F3;
    padding: 30px;
}
.registration-block .notification p{
    font-weight: bold;
    padding: 0 40px;
}
input[type="radio"] {
    /*-webkit-appearance: radio;*/
    /*-moz-appearance: radio;*/
    /*appearance: radio;*/
    border: 1px solid #647276;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 20px;
}
.registration-block input[type="radio"] + label {
    float: left;
    line-height: 41px;
    font-size: 27px;
    margin: 10px 22px 0 5px;
}
.birth-date .date-input {
    width: 300px;
}
.birth-date div {
    float: left;
    border-bottom: 1px solid lightgrey;
}
.birth-date div+div {
    float: right;
    border-bottom: none;
}
.dropdown-element {
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: 23px;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
    color: #E3E3E3;
}
#main_content .content-wrapper-white.registration-block form ul.dropmenu {

}
.registration-block select {
    width: 100%;
    border: none;
    height: 44px;
    line-height: 22px;
    position: relative;
    background: none;
    color: #929292;
    font-size: 20px;
    z-index: 100;
    cursor: pointer;
}

.registration-block .select-outer {
    border: none;
    border-bottom: 1px solid rgb(228, 228, 228);
    background: white;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    cursor: pointer;

}

.registration-block .select-button {
    /* background: url('select.png') center center no-repeat; */
    height: 24px;
    width: 24px;
    position: relative;
    top: -33px;
    left: 0;
    float: right;
    z-index: 50;
    font-size: 40px;
    color: rgb(209, 209, 209);
}
.fileform {
    margin-bottom: 6px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 230px;
    /*float: right;*/
}

.fileform .selectbutton {
    background-color: #C4C9CB;
    border: 1px solid #C4C9CB;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.fileform input[type='file'] {
    position:absolute;
    top: -22px;
    left: 0;
    cursor: pointer;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
}
.files_upload-block {
    background: #F6F8F8;
    height: 116px;
    padding: 20px 76px;
    margin-top: 30px;
}
.files_upload-block p+p {
    margin-bottom: 20px;
}
.registration-block input[type=checkbox] {
    float: left;
    width: 17px;
    border: 1px solid rgb(209, 209, 209);
    height: 18px;
    border-radius: 3px;
}
.registration-block input[type=checkbox]+label {
    float: left;
    line-height: 65px;
    margin-left: -9px;
}
.top_wrapper i{
    margin-left: -28px;
    position: absolute;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-long-arrow-left:before {
    content: "\f177";
}
.fa-calendar:before
{
    margin-left: -18px;
    font-size: 19px;
    color: silver;
    cursor: pointer;
    content: "\f073";
}
.date-input {
    line-height:13px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #E3E3E3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:     #E3E3E3;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:     #E3E3E3;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #E3E3E3;
}
.registration-block input:focus {
    border-bottom: 2px solid #647276;
}
.fa-requared-field:before {
    content: '*';
    position: relative;
    left: -28px;
    top: 21px;
    font-size: 19px;
    color: black;
}
.fa-requared-field.date-input-icon:before {
    position: relative;
    left: -7px;
    top: 4px;
}
.passport-dates div {
    margin-right: 30px;
}
/*input[type=checkbox] {*/
    /*display: none;*/
/*}*/
.checkbox label:before {
     border-radius: 3px;
    border:1px solid red;
    }
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 18px;
    color: #B8B8B8;
    text-align: center;
    border-bottom: 0;
    left: -7px;
    line-height: 19px;
    margin-right: 10px;
    margin-left: 0;
    top: 2px;
    position: relative;
}
input[type=checkbox]:not(:checked) + label:before {
    content: '';
    margin-left: 25px;
}
.registration-block input[type=checkbox]:focus {
    border-bottom:1px solid #B8B8B8;
}


input[type=radio]:checked, input[type=checkbox]:checked {
    cursor: pointer;
}
input[type=radio]:checked + label:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f192";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 18px;
    color: #647276;
    text-align: center;
    border-bottom: 0;
    left: -20px;
    line-height: 19px;
    margin-right: 10px;
    margin-left: -2px;
    top: -2px;
    position: relative;
    cursor: pointer;
}
input[type=radio]:not(:checked) + label:before {
    cursor: pointer;
    content: '';
    margin-left: 25px;
}
.registration-block input[type=radio]:focus {
    border-bottom:1px solid #B8B8B8;
}
input[type=radio]:checked + label {
    color: #647276;
    cursor: pointer;
}
input[type=checkbox]:checked + label {
    cursor: pointer;
}
input[type=radio], input[type=checkbox] {
    cursor: pointer;
}
.fa-requared-field.requared-success:before {
   color:#9BC660;
}
.content-wrapper-white.registration-block .select-outer + a{
    border-bottom:1px dashed;
}
.content-wrapper-white.registration-block *, .oferta-block * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/*oferta*/
.content-wrapper-white.oferta-block div {
    float: left;
    width: 60%;
    padding-right: 50px;
}
.content-wrapper-white.oferta-block div+div {

}
.content-wrapper-white.oferta-block div+div:nth-child(2n) {
    width: 30%;
    border-left:1px dotted gray ;
}
.content-wrapper-white.oferta-block div+div:nth-child(2n) p{
    padding: 0 30px;
}
.content-wrapper-white.oferta-block div+div:nth-child(2n):after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.content-wrapper-white.oferta-block div:nth-child(2n+1) {
}
.content-wrapper-white.oferta-block {
    display: table;
}
.content-wrapper-white.oferta-block li {
    font: 14px/18px 'helveticaneuecyrlight', 'Helvetica', Arial, sans-serif;
}
.content-wrapper-white.oferta-block div h3{
    text-transform: none;
}
.oferta-block .agree_block {
    height: 111px;
    background: #9E3828;
    width: 102% !important;
    border: none;
    position: relative;
    left: -39px;
    margin-bottom: 30px;
}
.oferta-block .agree_block input[type="checkbox"]
{
    float: left;
    width: 23px;
    border: 2px solid #ffffff;
    height: 23px;
    border-radius: 3px;
}
.oferta-block .agree_block p{
    color: #ffffff;
    margin: 46px auto;
    width: 400px;
}
.oferta-block .agree_block  input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 18px;
    color: white;
    text-align: center;
    border-bottom: 0;
    left: -21px;
    line-height: 26px;
    margin-right: 10px;
    margin-left: 0;
    top: 1px;
    position: relative;
}
.oferta-block .agree_block label {
    line-height: 28px;
}
.agree_block.checked {
    background:#668D00;
}
.content-wrapper-white.oferta-block .reg_button, .payment_for_services .reg_button {
    width: 193px;
    height: 70px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 0 44%;
    float: left;
    display: block;

}
.content-wrapper-white.oferta-block .reg_button p, .payment_for_services .reg_button p {
    font-size: 15px;
    margin: 7px 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.reg_button.disabled {
    background: #CDD2D3;
}
/*<--- OFERTA END --->*/
/*PAYMENT FOR SERVICE*/
#header-register.payment-header-services .top_header .top_wrapper .language-links-wrapper p {
    text-align: left;
    color: #FFFFFF;
    text-transform: none;
    padding-top: 18px;
    font-size: 35px;
}
.payment_for_services .message-wrap {
    background: #F0ECE5;
    width: 246px;
    margin: 0 auto;
    padding: 53px 69px;
}
.payment_for_services .message-wrap p.warning
{
    color:#9E3929;
    margin-bottom: 25px;
}
.payment_for_services .message-wrap p.price {
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-size: 24px;
}
.payment_for_services .message-wrap p.price span
{
    font-size: 12px;
    color: gray;
    display: block;
    font-weight: normal;
    margin-top: 10px;
}
.payment_for_services .reg_button {
    margin-top: 30px;
}
.payment_for_services .payment-method-block input[type="radio"] {
    float: none;
    margin-right: -15px;
    margin-top: -4px;
}
.payment_for_services .payment-method-block
{
    width: 290px;
    margin: 0 auto;
    margin-top: 46px;
}
.payment_for_services .payment-method-block p {
    font-weight: bold;
    margin-bottom: 30px;
}
.payment_for_services .payment-method-block input[type=radio]:checked + label:before {
    left: 0px;
    line-height: 17px;
    top: 2px;
}
.payment_for_services .payment-method-block label:before {
    line-height: 17px;
}
#main_content .content-wrapper-white.payment_for_services {
    padding: 120px 40px;
}
.reg_button button {
    border: none;
    background: #9c392c;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 70px;
    width: 193px;
    cursor: pointer;
    border-radius: 2px;
}
/*<--- END PAYMENT FOR SERVICE --->*/